[2015-04-21 09:54] soyuka opened #1 "Module process?"
Hi, just tried this and had:
[code]

Why are you requiring `process`? It's a global module (and variable!) and should be available without the use of `require`.

[2015-04-21 12:01] #1 closed

[2015-04-21 12:02] jimthedev commented on #1
Thank you for reporting this @soyuka. You are correct and this has been fixed in 1.0.3.

[2015-04-22 16:29] raibutera opened #2 "es6 string syntax (backticks) throwing error after clean install"
I've tried using node v0.10.37 (which I figured wasn't likely to work after seeing the backticks) and v0.12.2 (via nvm).. but no matter what i try I can't get `git cz` to execute successfully.

error:
[code]

## my .cz.json
{
  "path": "node_modules/cz-conventional-changelog/"
}

[2015-04-23 11:35] kytwb commented on #2
Same here :+1:

[2015-04-23 11:47] jimthedev commented on #2
Thanks for finding this. I'm using iojs 1.2.0 but will have a look to see why note 0.12 isn't working. 0.10 won't support back ticks so we'd need to transpile somehow.

[2015-04-23 11:50] kytwb commented on #2
Can't fork your `cz-conventional-changelog` as it's empty now.

[2015-04-23 11:54] raibutera commented on #2
There are like 8 strings. Just write them out with double quotes? Seems a
bit like going Death Star shopping to get rid of the weeds in your back
garden.

Also it's more than a little ironic that a project that is all about best
practices and being a good 'citizen' wasn't tested on the most popular node
version. At all.

I'm only teasing :p. Fantastic idea and I can't wait to use it.
On Thu, 23 Ap

[2015-04-23 13:22] jimthedev commented on #2
@raibutera @kytwb Thank you for working on this. The irony of the good citizen mantra is not lost on me.  Thanks for bearing with me! When I created it, I totally forgot that I had switched my nvm global to iojs so this is a bug caused 100% by me and we should probably fix using your much simpler suggestions. :grin:

[2015-04-24 10:54] #2 closed

[2015-04-24 11:28] jimthedev commented on #2
cz-conventional-changelog 1.0.1 released. thanks @kytwb!

[2015-04-28 19:34] raibutera opened #3 "feat: use existing message"
if git cz is passed the argument -m then that message should be passed to the "short imperative tense description of the change"

[2015-04-28 19:35] raibutera opened #4 "longer description shouldn't be truncated to 100char limit"
there's no point in having a 'longer description' if it is forced to be the same length as the short description.

[2015-04-30 20:46] jimthedev commented on #4
Hi @raibutera. Thanks for the feedback. I'm assuming that you're referring to the body line mentioned here: https://github.com/ajoslin/conventional-changelog/blob/master/CONVENTIONS.md and that it is limited to 100 characters.

As you can see, the conventional commit format dictates that any line should actually be limited to 100 characters, so we're just following the spec for now. You can remove

[2015-04-30 20:52] jimthedev commented on #3
@raibutera Great idea. One thing we need to consider is that you can do this in git:

[code]

If someone uses this format in `git cz` then we need to be able to accommodate all of the messages that they pass. I am thinking that we can show the ui then allow people to write {m1} or {m2} or {m3} in the ui where they want to use the various arguments that they passed in via the cli. How does that sou

[2015-04-30 20:52] raibutera commented on #4
Jim, I do believe you are misinterpreting the specification.

"Any line of the commit message cannot be longer 100 characters! This
allows the message to be easier to read on github as well as in various git
tools."

The 100-character limit is PER LINE, not per SECTION. The body section can
comprise multiple LINES. In fact, it SHOULD (to preserve readability, as
per the justification of the limita

[2015-04-30 20:58] jimthedev commented on #4
No problem about mobile bluntness. I understand. Sorry for my late reply. ;)  

You are indeed correct. So, rather than limiting the body field to 100 characters, we should do word wrapping for people at 100 characters but ultimately the field should be unlimited in length, correct? And the same would go for the footer which can be multiple lines and unlimited in length.

Does that sound right?

J

[2015-04-30 22:24] raibutera commented on #3
In my personal opinion, users of cz-cli would probably expect that the -m
flag would be inserted as the 'short' message.

Passing in multiple -m flags doesn't really make sense in the context of
cz-cli. Any attempt to coerce the existing behaviour to fit the commitizen
model would be strained. A more sensible implementation would just combine
the three passed messages (truncated to 100 char total)

[2015-04-30 23:25] raibutera commented on #3
## the -m flag

In my personal opinion, users of cz-cli would probably expect that the `-m` flag would be inserted as the 'short' message.

## multiple -m flags

As a result, passing in multiple `-m` flags doesn't really make sense in the context of
**cz-cli**. Any attempt to coerce the existing behaviour to fit the commitizen
model would be strained.

A more sensible implementation would just com

[2015-05-03 06:10] jimthedev commented on #3
Thanks for laying this out in an organized way.

I like the idea and I think we can probably make this work with the current system of allowing adapters to coexist for various conventions. Most of what you're talking about should be implemented in the cz-conventional-changelog adapter repo even though any future adapter could certainly implement the same functionality since the cz-cli is really ju

[2015-05-06 19:45] jimthedev commented on #4
Quick update on this. I have a branch that works properly pending a [gulp-git pull request](https://github.com/stevelacy/gulp-git/pull/77) that includes some fixes for multi-line commits. Once that is release I'll release the new version of the cz-cli and cz-conventional-changelog adapter.

[2015-05-06 20:28] #4 closed

[2015-05-06 20:30] jimthedev commented on #4
Please note that this is fixed in the adapter code in cz-conventional-changelog version 1.1.0 but in order to work properly it will still need a cli fix that is pending due to my gulp-git PR listed above.

[2015-05-07 16:27] jimthedev commented on #4
This was released in [1.0.4](https://github.com/commitizen/cz-cli/releases/tag/1.0.4).

[2015-07-10 07:06] stevemao opened #5 "Great idea"
Hi @jimthedev , Thanks for this module. The idea is really great. But I want to use a different approach to do this so I might just create another one. We could eventually merge in the future though. Will let you know once mine is done. Thanks.

[2015-07-10 09:50] jimthedev commented on #5
Sure thing @stevemao. Let me know when it is done and we can put mentions in our Readme's or find a way to merge.

[2015-07-10 11:09] stevemao commented on #5
Thanks @jimthedev

[2015-07-10 11:09] #5 closed

[2015-08-07 19:12] kentcdodds opened #6 "Jira smart commits?"
This is super awesome. Would it be possible to add custom prompts or something so I could use this to help me with [Jira smart commits](https://confluence.atlassian.com/display/FISHEYE/Using+smart+commits). Basically I'd like to have prompts that ask for:

- Jira Issue Key (this sort of exists currently, though I think the issue key needs to appear first in the message)
- Time spent
- Workflow com

[2015-08-07 19:12] kentcdodds commented on #6
No way! @jimthedev, this is yours? Sweet! :+1:

[2015-08-07 21:09] jimthedev commented on #6
:wave: Hi @kentcdodds! Yes it is :) Glad you're enjoying it.

I think this should totally be possible. I use Bitbucket at work with Jira so it would actually be nice to have.

Here's how we'd do it.

1. We'd fork the conventional [changelog adapter](https://github.com/commitizen/cz-conventional-changelog) and call the new repo something like cz-jira-smart-commit.

2. We'd edit package.json and [in

[2015-08-07 21:12] kentcdodds commented on #6
Wow, this is remarkably pluggable/simple. I'll take a stab at it!

[2015-08-07 21:12] kentcdodds commented on #6
Could you at least create the initial repo and add me as a team member?

[2015-08-07 21:17] jimthedev commented on #6
@kentcdodds You're an admin, now. ;) Name it whatever you like. I need to write some tests and figure out if there is a better way to deal with whitespace formatting in Inquirer prompts, but otherwise it works pretty well for now. Glad you're using it and hacking on it.

[2015-08-07 21:18] kentcdodds commented on #6
I'll give it a go!

[2015-08-07 22:51] kentcdodds opened #7 "Throw an error if there are no staged files"
There's no reason to fill out the prompts if there are no staged files. You can determine this with:

[code]

:-)

[2015-08-07 23:10] kentcdodds commented on #6
Well, I'm pretty sure we're all set! https://github.com/commitizen/cz-jira-smart-commit

[2015-08-07 23:10] #6 closed

[2015-08-07 23:36] jimthedev commented on #6
Great! Psyched to give this a go. Thanks for the repo @kentcdodds!

[2015-08-07 23:47] jimthedev commented on #7
Great idea. Seems like a no brainier.

[2015-08-10 20:47] kentcdodds opened #8 "Log githook output"
I have a pre-commit hook that runs eslint. I don't see any output from eslint when that is running when using commitizen. Any idea why that is?

[2015-08-10 20:48] kentcdodds commented on #8
Sorry, to be more specific, I see the output when the hook has finished and the commit has succeeded, but I don't see any of the output while it's in progress (like I do when I commit normally).

[2015-08-23 11:12] boennemann opened #9 "Make `.cz.json` part of package.json"
This project looks very promising, thank your for this!
What shies me away as a maintainer is that I have to add another dotfile to my repository.
As the `.cz.json` is mostly one line, and also json, it would be nice if commitizen could just look up a "cz" field the `package.json`.

What do you think?

(Sorry if I missed the a previous discussion on this, couldn't find one.)

[2015-08-23 12:55] jimthedev commented on #9
Hi there! You've hit on a really good point and I apologize for this not being in the docs Already, but you can actually already do this in your package.json under the cz key. The 3files that the config loader uses are (in order): package.json, .czrc, and .cz.json. These are defined here: https://github.com/commitizen/cz-cli/blob/master/src/configLoader.js

when I get back from vacation I'll cut a

[2015-08-24 09:49] boennemann commented on #9
Amazing, thank you! Will give this a shot soon in my projects!

I'll leave this open, so it can be closed once the docs landed ;)

[2015-08-24 09:51] jimthedev commented on #9
Cool. Just one correction. The package.json key is czConfig.

[2015-08-26 16:31] kentcdodds commented on #7
What needs to happen for this to be implemented? This catches me up pretty much every single time and I also have githooks that take my commits about 15 seconds to go through so I don't realize my mistake until after that's done :-( This would be really helpful.

[2015-08-27 20:49] kentcdodds commented on #9
I actually demonstrate this in my egghead lessons :-) because `.cz.json` is so small there's no reason for an entire file for it :-)

[2015-08-30 01:55] jimthedev commented on #8
Hi Kent. Sorry it took me a bit to get back to you. Can you provide your pre-commit hook? In my case, I actually don't see any eslint output when I run `git cz` regardless of whether it succeeds or fails. Instead am greeted with a generic, relatively unhelpful error (✗ Commit failed. Did you forget to 'git add' your files?) or with a generic success message (✓ Commit succeeded). The only scenario

[2015-08-30 01:57] kentcdodds commented on #8
Try out the angular-formly repo.

- Kent C. Dodds

(Sent from my mobile device, please forgive typos or brevity)
On Aug 29, 2015 7:55 PM, "Jim Cummins" <notifications@github.com> wrote:

[2015-08-30 02:08] jimthedev commented on #7
Up until now, I've created any of the features I needed in [gulp-git](https://github.com/stevelacy/gulp-git). It is a project that is built for gulp, but we use it specifically for the library modules. I'd love to see Steve break that out into an actual library but it suits our needs but that's a separate conversation.

Currently it does not have a git diff module. Initially we'd need to create a

[2015-08-30 13:05] kentcdodds commented on #8
Sorry, I misunderstood. I don't have a scenario where things are working
properly... Would love it though.

- Kent C. Dodds

(Sent from my mobile device, please forgive typos or brevity)
On Aug 29, 2015 7:57 PM, "Kent C. Dodds" <kent@doddsfamily.us> wrote:

[2015-09-10 06:10] BarryThePenguin opened #10 "Can't select change type with arrow keys"
Just a heads up I am experiencing the following on WIndows 8.1 SBoudrias/Inquirer.js#266

node -v 4.0.0

cc @kentcdodds

[2015-09-10 12:51] kentcdodds commented on #10
Hmmm. That's annoying :-( I guess you'll just have to hand-craft your commits until that bug gets fixed...

[2015-09-24 19:57] sebastienbarre opened #12 "How do you --amend?"
How does one use `git-cz` to amend a commit message? It does not seem to be handling extra arguments.
[code]
Thank you

[2015-09-24 20:23] jimthedev opened #13 "Need a test suite"
There is currently no test suite for commitizen or a way for adapters to smoke test.

[2015-09-24 20:57] jimthedev commented on #12
Hi @sebastienbarre. Good question. This is unfortunately a bug.

I looked at it quickly and it seems that the editor that opens when using --amend wants to take the context of the cli. Commitizen will not give up the context due to the way commitizen interacts with git using [gulp-git](https://www.npmjs.com/package/gulp-git) so you get this error.  We could implement a really dirty solution that l

[2015-09-25 00:14] sebastienbarre commented on #12
Thanks for the quick answer @jimthedev. It puzzled me as well, `src\app.js` seemed to have provision for it, making it look like it was indeed supported:
[code]
That left me wondering which Git arguments were indeed supported. A mystery. It would be a nice feature indeed, but with that being said, I can just do a `git --amend` and edit manually. What I like about commitzen is that it provides the

[2015-09-25 00:27] jimthedev commented on #12
Gosh, this is why I love open source. So many interesting use cases. I am
out of town this weekend and am giving a talk next weekend so next week
will be a rough week as I prep but I'll try to look into how I could manage
the cli context better. It probably would have to be part of 2.0 which
would be over a month out. Thanks for outlining your use case.
On Thu, Sep 24, 2015 at 7:14 PM Sébastien Ba

[2015-09-25 00:29] sebastienbarre commented on #12
Got it. Thanks for being open to the idea.

[2015-09-28 02:32] jimthedev opened #16 "NPM@3 support"
Npm's flat modules break existing commitizen functionality. In order to fix these issues there needs to be some major architectural changes in Commitizen 2 and in the adapters.

[2015-09-28 15:13] sebastienbarre commented on #12
And surprisingly, `giz-cz -a` *does* work...

[2015-09-28 15:41] jimthedev commented on #12
Commitizen is designed to pass any git parameters through to git. This is why `git-cz -a` works.  The problem is that since --amend opens an editor, we're no longer just simply dealing with cli parameters, but have to think about how we create or wrap processes.

[2015-09-28 15:53] sebastienbarre commented on #12
Thanks @jimthedev  ; so this might sound like a crazy idea, but what about intercepting `--amend` and removing it from the parameters, then use git to query the last commit message, parse it, and pre-populate each of the questions `git-cz` asks (i.e. the scope, message, description, etc. would be pre-entered, for the user to amend/modify). Now that would be magical :)

[2015-09-28 15:58] jimthedev commented on #12
@sebastienbarre Ooo. I love that idea. The question is, what to do when parsing fails. Care to venture a PR  :D

[2015-09-28 23:16] baer commented on #16
21 hours before me! Looks like I'm running into the same problem - here is a little extra error info:

[code]

[2015-10-04 17:06] accraze commented on #9
@jimthedev I wrote up some quick docs for this issue but am getting a `403` when I try to push it upstream... any chance you can add me to the repo so I can make a PR?

[2015-10-04 17:08] kentcdodds commented on #9
Did you Fork the repo? You should Fork it, then push it to your fork and
make a PR from that.

On Sun, Oct 4, 2015, 11:06 AM A. Craze <notifications@github.com> wrote:

--
- Kent C. Dodds <https://twitter.com/kentcdodds>

[2015-10-04 19:19] #9 closed

[2015-10-04 19:22] jimthedev commented on #9
Thanks @accraze!!! Merged! Also thanks to @kentcdodds for merge and rebase which let me merge from my phone!

[2015-10-04 19:29] kentcdodds commented on #9
Can you use bookmarklets on your phone? How?

On Sun, Oct 4, 2015, 1:22 PM Jim Cummins <notifications@github.com> wrote:

--
- Kent C. Dodds <https://twitter.com/kentcdodds>

[2015-10-04 19:33] jimthedev commented on #9
You have to be in Desktop mode. To get there you scroll to the very bottom
of the mobile view and click 'Desktop version'
On Sun, Oct 4, 2015 at 2:29 PM Kent C. Dodds <notifications@github.com>
wrote:

[2015-10-04 19:48] kentcdodds commented on #9
You sure you're not just talking about github's normal merge button, not my
bookmarklet? Or can you select the bookmarklet and it works on that page?

On Sun, Oct 4, 2015 at 1:33 PM Jim Cummins <notifications@github.com> wrote:

--
- Kent C. Dodds <https://twitter.com/kentcdodds>

[2015-10-04 19:51] jimthedev commented on #9
You can select the bookmarklet from your bookmarks while on the page. It
pops up a webtask window and rebases and merges. I'm in chrome on iOS
On Sun, Oct 4, 2015 at 2:48 PM Kent C. Dodds <notifications@github.com>
wrote:

[2015-10-10 21:23] stevemao commented on #5
@jimthedev I never had time to do this. But My originally thought was to use handlebars templates to generate the commit messages.

[2015-10-12 03:45] olalonde commented on #16
Running in same problem.

[2015-10-13 08:38] jimthedev commented on #5
@stevemao I considered it for a while, then decided to just execute "prompter" function inside an adapter and people could capture input however they prefer. I pass in inquirer by default but they could accept input in other ways if they wish. My main goal right now is npm3 support and building comprehensive tests. Both are coming along nicely.

[2015-10-13 08:40] jimthedev commented on #16
@baer @olalonde Thanks for your patience. This is a known issue with npm3 and thankfully I am almost done with a test suite and npm3 fix. Should be out in the next few days I'd imagine.

[2015-10-13 08:55] jimthedev commented on #12
@sebastienbarre I was thinking about this a bit more. Specifically I was thinking about your idea of greping the git log. Turns out the tough part would not be getting the previous commit, but rather parsing it into fields. We could defer that functionality to the adapters.

In commitizen's current architecture, the adapters do exactly two things:

1. capture user input
2. output a string back to

[2015-10-13 09:04] stevemao commented on #5
What was the reason you didn't choose to use a templating engine?

[2015-10-13 09:10] jimthedev commented on #5
Good question. I wanted to let the cli be as flexible as possible.

The adapters can use a template engine if they like. I just chose not to force any single template engine.  Each adapter can use es6 template strings, handlebars, ejs, jade, etc. As long as they produce a string, I don't mind. :)

At the end of the day, the cli just wants the adapters to give it a composed string to commit. If som

[2015-10-13 09:33] stevemao commented on #5
:+1:

[2015-10-13 13:41] sebastienbarre commented on #12
I agree with you, I think the adapters would have to do some work here.

Funny enough, I was thinking about this issue again this weekend, and decided it wasn't worth the effort rewriting the whole commit history.

What has bitten me a lot as of late though, is going through the whole set of questions, only to end up having to repeat the process again because I forgot to stage files. My muscle mem

[2015-10-13 13:52] jimthedev commented on #12
Totally. In fact, there is an issue about what you mentioned [here](https://github.com/commitizen/cz-cli/issues/7).

Obviously in Kent's proposed solution we would just not run the prompter and return an error immediately if there are no files staged. It is a simpler solution but should be pretty easy to implement vs the tmp file solution. Thoughts?

[2015-10-13 14:02] sebastienbarre commented on #12
Oh yes, duh, I should have looked at the other issues, sorry.

[2015-10-13 14:04] jimthedev commented on #12
No worries. :D

Ok, so, I am thinking I'll keep this open for now and we can re-evaluate once 2.0 drops.

[2015-10-13 14:22] sebastienbarre commented on #7
OK, my gut feeling is that `gulp-git` is the more stable/popular of the two. I inquired in stevelacy/gulp-git#97.

[2015-10-13 14:24] jimthedev commented on #7
Thanks!!! I've also started just writing my own wrappers and parsers for v2
so that might be an option for diff. It should pretty much be a regex
On Tue, Oct 13, 2015 at 9:22 AM Sébastien Barré <notifications@github.com>
wrote:

[2015-10-13 14:39] sebastienbarre commented on #7
Hold on, can't this problem be solved already with `gulp-git`?
* use [`git.status`](https://github.com/stevelacy/gulp-git#gitstatusopt-cb), then just grep to see if "Changes to be committed" is not there,
* or use [`git.exec`](https://github.com/stevelacy/gulp-git#gitexecopt-cb), and execute `diff --cached` from there? (aka `git.exec({args : 'diff --cached'}, function (err, stdout) { ... });`)

[2015-10-13 14:41] jimthedev commented on #7
Yes! One question. Does git use different languages? If so then that grep
might not work.
On Tue, Oct 13, 2015 at 9:39 AM Sébastien Barré <notifications@github.com>
wrote:

[2015-10-13 14:48] sebastienbarre commented on #7
Could be localized, you are correct. Option #2 then, because that would
return an empty string if nothing is staged.

On 10/13/15 10:41 AM, Jim Cummins wrote:

[2015-10-13 14:59] jimthedev commented on #7
Ok, I'll make sure to write a test for this in what I currently calling v2.

Side note: At the moment, I think v2 might actually be able to remain on the 1.x branch because as it is written, there should be no adapter breaking changes. The only thing that might make it called 2.x are some small cli changes. TBD.

[2015-10-14 15:25] olalonde commented on #16
Thanks. I reverted to an older release for now.

[2015-10-14 15:27] jimthedev opened #24 "Gracefully handle cli and adapter incompatibilities"
Brainstorming:

As commitizen iterates, as a user I want to be notified when there is an adapter/cli incompatibility.

- [ ] Decide how adapters can communicate their cli version requirements. (semver in package.json)
- [ ] How best do we communicate an incompatibility? prompt to update, notify only?

[2015-10-15 13:17] jimthedev commented on #7
Just a follow up for anyone who stumbles upon this thread in the future. If you want to capture output from diff to determine if there are staged files, you'll have to use `git diff --cached --exit-code` since by default cached mode runs in interactive mode. The `--exit-code` sends the results to stdout. Cheers.

[2015-10-15 16:34] jimthedev commented on #16
Quick update. This is coming along nicely in 2.x.
![screen shot 2015-10-15 at 11 33 21 am](https://cloud.githubusercontent.com/assets/108938/10520613/b1926526-7330-11e5-942d-6e336b8f3ce1.png)

[2015-10-15 17:30] jimthedev commented on #7
One question I have on this @kentcdodds @sebastienbarre.  By adding this, I think we'll break the `git commit -A` functionality in the short term. Do people care? Is this acceptable? Everything I've been able to find recommends not using -A but I don't want to stream roll over it if people use it. I'll probably be able to insert some sort of conditional in the parser but want to get 2.0 out sooner

[2015-10-15 17:39] jimthedev commented on #8
I am no longer using the pretty commit messages. Instead cz should output the raw git results. This *should* help with this although I'll probably have you double check it on release.

[2015-10-15 17:39] sebastienbarre commented on #7
You mean `git-cz -a -m` would break because nothing is staged? Can this check for whether files are staged or not only be done if `-a` was not passed as a parameter? Personally I'm partial to be able to use `git-cz -a -m`. Thanks. Just my 2 cents.

[2015-10-15 17:41] jimthedev commented on #7
Cool. That's fair. I don't want to take away that functionality so I'll take a second look and try to get that working in the parser.

[2015-10-15 18:19] kentcdodds commented on #7
I use `git commit -am 'message'` on a regular basis. But when I use
commitizen, I first `git add .` and then run `npm run commit` which runs an
npm script to run `git-cz` because I prefer to use the locally installed
binary. So it doesn't make much of a difference for me.

On Thu, Oct 15, 2015 at 11:41 AM Jim Cummins <notifications@github.com>
wrote:

--
- Kent C. Dodds <https://twitter.com/kentcd

[2015-10-15 18:20] jimthedev commented on #7
Excellent. Thanks for taking the time to describe your use cases.

[2015-10-15 18:46] kentcdodds commented on #8
:+1:

[2015-10-16 02:55] jimthedev opened #25 "When committing, adapter and version should clearly shown."
When being prompted for information the cli and adapter information should be clearly shown.

[2015-10-16 03:08] jimthedev commented on #7
Ok, I have improved it slightly. You can do `git-cz -a` (notice that -m is missing) which will add the files before going through the normal commitizen prompts process. The reason you can't add -m in is that since we're filling in the message for you based on your inputs, we show you an error because your input doesn't make sense. We can work on this more and I'll outline this as a known issue in

[2015-10-16 03:16] kentcdodds commented on #7
Looks like a perfect solution to me :+1:

On Thu, Oct 15, 2015 at 9:08 PM Jim Cummins <notifications@github.com>
wrote:

--
- Kent C. Dodds <https://twitter.com/kentcdodds>

[2015-10-16 05:10] #12 closed

[2015-10-16 05:10] #13 closed

[2015-10-16 05:10] #16 closed

[2015-10-16 05:10] #25 closed

[2015-10-16 09:05] adoyle-h opened #26 "It doesn't work"
[code]

Versions:
node v0.12.2
npm 2.13.3
commitizen 2.0.1

[2015-10-16 09:49] jimthedev commented on #26
Thanks. Seems like babel is unhappy being used on global packages. Working on a fix right now.

[2015-10-16 10:13] jimthedev commented on #26
@adoyle-h Can you install 2.0.2 to see if it fixes this for you?

[2015-10-16 10:27] #26 closed

[2015-10-16 11:12] jimthedev commented on #8
Ok, 2.0.2 seems to be the most stable release in the past 24 hours so we can probably check this with it. I can try it out but it might not be until tomomorrow.

[2015-10-16 12:24] jimthedev opened #27 "Add common troubleshooting steps"
There are a set of steps that would probably be useful in troubleshooting problems with Commitizen and Adapters. Over time it would be nice to have a place for them to be documented rather than being stuck in issues.

[2015-10-16 13:21] jimthedev opened #28 "Update to use @kentcdodds' OSS library recommendations"
KCD knows what's up. I need to go through and set up CI, CD, etc. It should be much easier w/the test suite.

https://egghead.io/series/how-to-write-an-open-source-javascript-library

[2015-10-16 15:19] kentcdodds commented on #8
You'll notice that [it worked](https://github.com/formly-js/angular-formly/commit/d8dcf7c306914f5894976e084e5dfe4747864347) :-)

[2015-10-16 15:20] kentcdodds commented on #8
Actually... Sorry.. No, I forgot what I was looking for. The word-wrap problems have been solved, but it's still not printing out the githook output until after the scripts are finished :-(

[2015-10-16 15:21] jimthedev commented on #8
Alright. Thanks for checking. I'll dig in for 2.1.
On Fri, Oct 16, 2015 at 10:20 AM Kent C. Dodds <notifications@github.com>
wrote:

[2015-10-16 16:00] sebastienbarre commented on #7
Nice.
Minor. This worked for me:
[code]
This didn't:
[code]
where, in `package.json`:
[code]
This is minor of course. I could add `-a` in the script.

[2015-10-16 17:10] jimthedev commented on #7
Ah, good to know. Reopening for now and will work on for 2.1.

[2015-10-19 01:57] BarryThePenguin commented on #10
I followed the rabbit hole and found nodejs/node#2996

[2015-10-19 03:02] jimthedev commented on #10
Interesting. Thanks for finding that. Is this something we should add to docs until it gets resolved?

[2015-10-19 03:34] kentcdodds commented on #10
Seems like a good idea to me. I'm thinking about adding it to my contributing docs... Even better: detect the node version and os and give a warning if this could be a problem.

[2015-10-19 18:53] killswitch commented on #9
Sorry to bump this, but is there a reason that it's got it's own object, `czConfig`, instead of the universal `config` object? https://docs.npmjs.com/files/package.json#config

[2015-10-19 19:00] kentcdodds commented on #9
+1. I don't think there's a reason @killswitch except perhaps ignorance (there's so much to know!) I vote that the next release looks for config there first, and then falls back on `czConfig` and gives a deprecation warning. Then in 3.0.0, we no longer look at `czConfig`. What do you think @jimthedev?

[2015-10-19 19:02] jimthedev commented on #9
@killswitch That is a good idea. I think the main reason is that the config loader originally came from jscs and thus followed their perhaps naive convention. The good news is we can easily add it and migrate to it being the default.

Things needed for this to happen:

- [ ] Add config.cz as the highest level priority option in the configLoader (note, we still need to support czConfig for now, but

[2015-10-19 19:05] killswitch commented on #9
Perfect. You guys are awesome. :)

[2015-10-19 19:08] jimthedev opened #30 "Use npm's config object, deprecate czConfig"
Per @killswitch and @kentcdodds in [this original issue](https://github.com/commitizen/cz-cli/issues/9). We should be using npm's config object and not our own key. We want to be good package.json citizens after all. :+1:

The main reason that this bad practice exists is that config loader originally came from jscs and thus followed their perhaps naive convention. The good news is we can easily ad

[2015-10-19 19:12] jimthedev commented on #9
@killswitch Thanks for keeping us honest. :+1:

[2015-10-19 19:13] kentcdodds commented on #30
:+1:

[2015-10-19 19:23] killswitch commented on #9
No problem @jimthedev. Thank you guys for a great module. I'm implementing it on all my projects thanks to @kentcdodds video on egghead.io

[2015-10-19 19:23] killswitch commented on #30
:+1:

[2015-10-19 19:24] jimthedev commented on #9
Good to hear. Cheers!
On Mon, Oct 19, 2015 at 2:23 PM Josh Manders <notifications@github.com>
wrote:

[2015-10-19 21:08] jimthedev commented on #8
I just put in a PR to gulp-git. Once that lands I'll be able to get incremental githook output working. Thanks for waiting. https://github.com/stevelacy/gulp-git/pull/99

[2015-10-19 21:19] kentcdodds commented on #8
Sweet dude! :sunglasses:

[2015-10-21 17:12] jimthedev opened #34 "add list of known adapters to the docs"
We've got a great community. We should give credit to all the amazing adapters that people have contributed to.

[2015-10-21 17:21] #34 closed

[2015-10-21 18:06] #8 closed

[2015-10-21 18:50] #28 closed

[2015-10-21 21:50] jimthedev commented on #3
I am closing this for now and have [opened an issue](https://github.com/commitizen/cz-conventional-changelog/issues/12) with the cz-conventional-changelog adapter since that is really where this issue belongs.

The only part of this issue that the cli can assist with is the passing of raw and/or parsed arguments into the adapters' prompter method. I don't really expect that this getting completed

[2015-10-21 21:50] #3 closed

[2015-10-22 09:45] jimthedev opened #36 "npm run test:watch infinite loop"
When you run tests the first test that runs triggers nodemon to rerun the test suite again so the test suite never completes.

[2015-10-22 09:48] #36 closed

[2015-10-22 22:34] #30 closed

[2015-10-22 22:37] jimthedev opened #38 "Remove deprecated czConfig"
#30 added deprecation warnings and switched defaults over to using config.commitizen in package.json. We just need to remove the deprecated code for 3.0.0 but this'll be a breaking change.

[2015-10-22 22:38] jimthedev commented on #30
This is included in [2.3.0](https://github.com/commitizen/cz-cli/releases/tag/v2.3.0). Also created a #38 as a reminder to remove czConfig as a breaking change in 3.0.0.

[2015-10-22 23:16] kentcdodds commented on #30
Cheers! Well done @jimthedev!

[2015-10-23 09:47] jimthedev opened #39 "Can commitizen be pre-compiled?"
Right now we're using babel/register to run everything in commitizen and to get ES6 features. I'm doing this because I need to be able to require() adapters on the fly but still get the features of ES6. I'd love for most of the cli to be pre-built with babel, leaving only the adapter part to using babel/register. This would help git-cz to be faster. I've never done this before and am not even sure

[2015-10-23 13:17] killswitch commented on #30
Awesome work @jimthedev!

[2015-10-23 21:27] mcwhittemore commented on #24
1. It would be nice if adapter exported the version of the cli it was made for and the cli reported back on if it was able to support the adapter.
2. If the adapter and the cli are not compatible, I think it should process.exit(1) with a clear error message. If something less than this is needed, it's most likely not valuable to the end user.
3. it would be great if prompter just got the package.j

[2015-10-24 05:06] kentcdodds commented on #8
Finally got a chance to test this out. Works perfectly! Thanks!

[2015-10-24 20:04] jimthedev commented on #8
Glad to hear. Thanks for testing!
On Sat, Oct 24, 2015 at 12:06 AM Kent C. Dodds <notifications@github.com>
wrote:

[2015-10-26 09:10] maboiteaspam opened #42 "Does not work after npm i and package config"
Hi!

__TLDR__; IRFM, ran it, then tried to run `git cz`, it failed with an unfortunate but epic error,
[code]

__The longer story__

Running windows 7 with node and npm such
[code]

I have run `D:\work\MyBlog\C\c2-bin>npm install -g commitizen `,
then `D:\work\MyBlog\C\c2-bin>commitizen init cz-conventional-changelog --save --save-exact`

Then i configured my local `package.json` file to add
[code

[2015-10-26 11:37] jimthedev commented on #42
Hi! Sorry to hear you're having trouble. Can you try using a this in your package.json?

[code]

[2015-10-26 13:34] maboiteaspam commented on #42
How about having a console argument for the matter of that value ?

I have a case where i want to run same cz for many instances, i don t feel like i want to duplicate it everywhere. That seems inappropriate to me.

I ve gone through your sources, and find quickly you are not using any helper for that.
Any matter here ?
[code]

This said, i ran into similar issue on my box too,

[code]

I suggest

[2015-10-26 14:22] jimthedev commented on #42
Thank you for the feedback on the README. It does need to be updated to be more clear. I have open #27 to track the documentation changes and will make sure to include our discussion.

Let's take a look at this lines in the error log you posted. This is an important error:

[code]

You had previously configured an adapter but the path was wrong.  This error is trying to inform you that `commitizen

[2015-10-26 17:46] emcniece opened #43 "How to add custom commit types?"
Is it possible to create new `type(scope): title...` commit types? We're using this in tandem with clog and we have some custom commit types defined for the changelog.

[2015-10-26 18:11] jimthedev commented on #43
The easiest way to do this is to create an adapter.

To do this:
1. Fork the [commitizen/cz-conventional-changelog](https://github.com/commitizen/cz-conventional-changelog) repo.
2. Change the package.json's name field to your new adapter name (ie. cz-emcniece-changelog) and set the version field to 1.0.0.
3. Edit index.js to have your custom types.
4. `npm publish` when you're ready to publish yo

[2015-10-26 21:14] emcniece commented on #43
Awesome - thanks so much for the guide!

[2015-10-26 21:14] #43 closed

[2015-10-27 01:44] maboiteaspam commented on #42
ok, so i cleaned up my env here on windows, re ran,

[code]

and got expected results. the new package, the new dependency.

So far, `git cz`, hangs, it s expected,
[code]

Then update the package file such
[code]

Still hang.

trying,
[code]

same.

Also tried,
[code]

same.

I ve not gone through the source, but i d say it s missing a path.join according to the fact it worked on my linux box and

[2015-10-27 01:48] maboiteaspam commented on #42
before i forget, again i really want to suggest about improving the README. Yesterday I really felt this one was hard to read. I d suggest to get something close to those examples https://github.com/substack/node-browserify https://github.com/rvagg/changelog-maker with some clear identified sections about some clearly identified steps (Install, Usage ect).

[2015-10-27 01:54] jimthedev commented on #42
Did you try `commitizen init cz-conventional-changelog --save --save-exact --force`?

[2015-10-27 01:58] jimthedev commented on #42
Also can you confirm that you have commitizen version 2.3.0 installed?

[2015-10-28 10:35] tjoskar opened #44 "Is it possible to get branch name in a adapter?"
Hi,

First of all, great project!

Is it possible to pass information about a branch (or some other git information) to an custom adapter?

I find this line: https://github.com/commitizen/cz-cli/blob/master/src/cli/strategies/git-cz.js#L59 where it looks like you are passing all `flags` to `git`(?). Is it possible to parse the args and exclude `cz-cli` specific arguments and pass them to a adapter

[2015-10-28 10:50] tjoskar commented on #39
One can add:

[code]

And then create a `.npmignore` file to ignore the source files to be publish:
[code]

And point the `main` file in `package.json` to the `dist` folder:
[code]

I think that would do the trick.

I can create a pull request if you want.

[2015-10-28 10:54] jimthedev commented on #39
If you want to put in a PR, that'd be excellent. My main concern is  that we do a lot of work with paths and I'd just need to find a way to test the built version. Thanks so much!

[2015-10-28 16:40] jimthedev commented on #10
Quick update. Looks like the node issue is still open and they're trying to figure out a fix that doesn't introduce a regression. Until then, we wait. :)

[2015-10-28 16:41] jimthedev commented on #44
Thanks @tjoskar and great idea. It is going to take some time to find the right answer, but it could be very powerful once complete.

This is something that needs to be improved in 3.0 (our next breaking changes version). With that said, before we make these kind of breaking changes we need to be sure we have a comprehensive list of use cases that `git cz` should cover and also need some time to a

[2015-10-28 17:18] jimthedev opened #45 "Long term goal: Integrate with various Git GUIs"
Would be great it we could provide a way for git GUIs to inject themselves in the place of inquirer so that they could use their own GUIs to ask users for prompts. This might be a pie in the sky idea but it would be pretty freaking cool.

[2015-10-28 18:27] jimthedev commented on #7
I just tried this in 2.3.0 and `npm run commit -- -a` seemed to work for me. I'd made a few changes since the last time we spoke. Can you try again @sebastienbarre. I am on npm 2 and node 0.12.7.

[2015-10-29 02:31] sebastienbarre commented on #7
@jimthedev I confirm it works for me as well. Thx.

[2015-10-29 04:21] #7 closed

[2015-10-30 11:54] OussamaElgoumri opened #50 "clear confusion"
when i run `commitizen init cz-conventional-changelog --save --save-exact` i get this output

[code]

the message say, `Please use this instead` but the suggested config is the same in package.json, also what is the optional dependency?

[2015-10-30 16:02] jimthedev commented on #50
@OussamaElgoumri Thanks for the feedback and for using commitizen! Looks like this is a confirmed bug. I will look into it.

With regards to the optional dependency error, you can probably disregard for now if you using Node 4 and Npm 3. There is an open issue about the optional dependency bug [here](https://github.com/npm/npm/issues/9204). There is also some more info [here](https://github.com/me

[2015-10-30 16:17] jimthedev opened #51 "Upgrade to babel 6"
https://github.com/commitizen/cz-cli/pull/49

To fix this PR we need to update our mocha command needs an update to the compiler flags:

What was this: `js:babel/register`

Needs to be this: `js:babel-core/register`

[2015-10-31 04:49] jimthedev commented on #51
Looks like we'll have to hold off on upgrading to babel 6 until an Istanbul [code coverage bug](https://github.com/douglasduteil/isparta/issues/81) gets figured out.

[2015-11-01 12:22] jimthedev commented on #39
Closed by #53. Thanks @tjoskar!

[2015-11-01 12:22] #39 closed

[2015-11-02 13:48] jimthedev commented on #42
Hi there. Hope you aren't still having this problem but if you are, please provide some of the info above. If not I'll probably close it in 3 days. Obviously you can always reopen.

[2015-11-03 02:56] #50 closed

[2015-11-04 19:20] jimthedev opened #57 "Use validate-commit-msg in git hooks"
We should use https://github.com/kentcdodds/validate-commit-msg in our build process.

[2015-11-05 02:01] maboiteaspam commented on #42
Hi!

Sorry for the lag, i got absorbed into other matters.

Yes! i do have 2.3.0
[code]

Running
`commitizen init cz-conventional-changelog --save --save-exact --force`
outputs

[code]

Then `git cz`
[code]

Does it help ?

[2015-11-05 02:03] maboiteaspam commented on #42
And my package json is

[code]

BTW! How to do with this commitizen path, which is here windows format, but when i ll get back home, on linux, i will need to use a linux forward slashed path.
Can it the path format be lifted whatever is the os to make that work smoothly ?

[2015-11-09 02:31] jimthedev commented on #42
@maboiteaspam I found the problem. All tests are now passing on windows and I swapped out the json editor which seemed to have problems on windows. This is a much simpler method of editing the json and seems to perform much better on windows. If this doesn't fix your problem then please let me know.

[2015-11-09 03:53] maboiteaspam commented on #42
wouav, really cool ! Thanks a lot.

Given the commit, i will test install from the repo directly and let you know if that works fine.

[2015-11-09 03:54] jimthedev commented on #42
Sounds good!

[2015-11-09 05:17] maboiteaspam commented on #42
just in case, and because i have not seen .appveyor.yml file,

 http://www.appveyor.com/

i know it s not perfect, but it can help!

__testing results__
[code]

[code]

[code]

: (

[code]

weird stuff is
[code]

with another package it works nicely
[code]
 : / If i have time, i ll try to dig that, too.

[2015-11-09 05:22] maboiteaspam commented on #42
ok never mind, i ll re do manually, have not seen before : https://github.com/commitizen/cz-cli/blob/master/.npmignore

[2015-11-09 05:56] maboiteaspam commented on #42
nah, i don't know.

I mean, i m not used to es6 stack with babel, and now i m facing weird errors like this

[code]

in short,
[code]

How about appveyor ?

[2015-11-09 11:54] leonardoanalista opened #61 "Cannot find module 'lodash' on latest version 2.4.3"
node version 4.2.2

install the latest: `npm install -g commitizen`

modify and add some files then run:  `git cz`

you get:
[code]

I downgraded to version 2.1.0 and works fine.

cheers
Leonardo Correa

[2015-11-09 12:25] jimthedev commented on #61
Thanks for reporting this Leonardo. This is my fault. I have lodash listed as a devDependency when it should be a dependency. I will release 2.4.4 shortly to fix this.

[2015-11-09 12:34] #61 closed

[2015-11-09 14:47] jimthedev commented on #42
Ah, ok. It seems like something is messed up in your environment but I don't know exactly what it is. I would recommend removing your global packages and clearing your npm cache because something is messed up

Can you check to see if you have babel 6 installed by running `babel --version`. We do not yet support babel 6 so if you have babel 6 installed then you should revert to babel 5 for now.

Un

[2015-11-09 14:51] jimthedev commented on #10
Update: It looks like the change that started causing this issue has been reverted so I'd imagine it is available in nightlies: https://github.com/nodejs/node/commit/af46112828cb28223050597f06b5e45a659e99d6

But I'm not sure when it will get released and perhaps more importantly when it will get back ported to Node 4 LTS.

[2015-11-09 15:21] sergey-lapin opened #62 "Set custom scope changes."
Hi, thanks for this awesome project.

I am curious, is it possible to override `Denote the scope of this change ($location, $browser, $compile, etc.):` message?
Would be great to preset scopes for projects.

[2015-11-09 15:54] jimthedev commented on #62
Hey @lapanoid Great idea!

Currently it isn't possible out of the box but it is funny you mention it because @leonardoanalista just published an awesome community adapter called [cz-customizable](https://github.com/leonardoanalista/cz-customizable). I think cz-customizable lets you do things like this. I haven't used it yet but it looks promising. Perhaps we can eventually get @leonardoanalista to

[2015-11-09 16:41] jimthedev opened #63 "Add adapters-repo hooks"
As an adapter author, I want to be able to have my adapter be configurable (data) and also be able to tap into hook functions (events). I want repo maintainers to be able to define paths to hooks in a similar manor to what we let adapter maintainers do in the commitizen cli-adapter relationship. In the cli-adapter relationship there is really just one hook (prompter) that runs the prompter method

[2015-11-09 16:56] jimthedev commented on #63
Hello @kentcdodds @leonardoanalista @rebelliard @tjoskar @mcwhittemore!

Since you're all adapter authors, have worked with adapters or have inquired about information provided to adapters by commitizen I wanted to reach out to you to gather feedback on this hooks api. My goal of the above hooks api is to allow for adapters and repos to interact but retain the highly configurable nature of commiti

[2015-11-09 18:23] kentcdodds commented on #63
I don't see any issues with this proposal for my use case. As far as the config api, getting the order right can be a real pain. Objects don't do order very well, arrays do. Just my thoughts there :-)

[2015-11-09 19:09] jimthedev commented on #63
Thanks Kent. To be clear, hooks fire order would always need to be managed by the adapter author. We would have recommendations like bootstrap should fire before init should fire before end. The only reason to use an array syntax here is for convenience so that you can use shorthand if all of the repo hooks are exported from the same single-file module.

[2015-11-09 22:29] kentcdodds commented on #63
Ah, I see, makes sense :-) In that case I prefer the object version :-)

[2015-11-09 23:52] leonardoanalista commented on #62
I have plans to improve cz-customizable module.

My plans for `cz-customizable` are:
- set up semantic-releases
- unit tests
- possibly move code to ES6, if to keep consistent with commitizen module or cz-conventional-changelog codebase.
- improve the way the .cz-config.js is read
- add dry run option
- any further customization that could be useful

I am happy to either continue on `cz-customizab

[2015-11-10 01:15] leonardoanalista commented on #63
@jimthedev thanks for looping me in.
Sometimes, I like to see the staged files before I go ahead with the commit.
Before commitizen, I used to run `git commit`, then type my commit message.
When I see the files I have a clue about what I ma about to commit. This is not a major thing as I can just to a `git status` before `git cz`. I am going to present the tool to a group of people. I let you know

[2015-11-10 09:13] maboiteaspam commented on #42
Hi !

Thanks for help. Indeed much easier.

I hope you can take a moment to check about appveyor, it s very much like travis, but for windows.

This said i m sorry to report some failures : /

`git cz` still ain t working, for the same reasons.
Also, now, the package json formatting is blown out after the adapter is installed,

see,

[code]

And the package json looks likes this now : (

[code]

[2015-11-10 09:13] maboiteaspam commented on #42
Note also i unbuild babel 6 prior those steps.

[2015-11-10 23:05] jimthedev opened #64 "Remove node 0.10 support from test suite"
Node is now LTS on 4. We're going to support back to 0.12 even though 0.10 should work. Moving forward we'll no longer be testing 0.10 so please use it at your own risk.

[2015-11-10 23:07] #64 closed

[2015-11-11 02:13] jimthedev commented on #42
@maboiteaspam I haven't been able to replicate this, but in an effort to make sure that our test coverage includes Windows I'm working on getting our tests running on appveyor.

[2015-11-11 04:56] maboiteaspam commented on #42
I wont promise, but if i can free some time at office i ll seriously dig it too.

thanks again !

[2015-11-11 15:37] pauleveritt commented on #45
Here are the docs for [writing IntelliJ plugins](http://www.jetbrains.org/intellij/sdk/docs/index.html) but it's going to be an open question whether the plug point that you want is available. [VCS Integration Plugins](VCS Integration Plugins) looks like it is in the ballpark.

I've asked internally and pointed to this ticket. Will need patience, still cleaning up from last week's update-the-unive

[2015-11-11 15:39] jimthedev commented on #45
@pauleveritt Thanks and no worries on timing. I am still working on several major changes that would be breaking changes for any IDE plugins. It will still be nice to read up and familiarize myself a bit with the ecosystem. Thanks a bunch.

[2015-11-11 15:44] mcwhittemore commented on #63
The branch name, package.json and cli version sound great to me.

I'm a bit confused about hook order. Are you saying that as an adapter author I decide the order hooks are run in or that commitizen will handle hook order? If commitizen is handling it, I'd say hooks should have names like hooks in git. If commitizen isn't handling it, I'm struggling to understand the reason for hooks. Are they a s

[2015-11-12 13:18] fvanwijk opened #72 "package.json formatting"
When I run `commitizen init cz-conventional-changelog --save --save-exact` the `cz-conventional-changelog` is added to package.json as promised, but my package.json is modified in such a way that all newlines etc are gone. So there is only a very long line.

I'm not sure if this also happens with other commands.

[2015-11-12 13:32] jimthedev commented on #72
Hmmm probably because we use JSON.parse. I'll have to look into other ways
to do this like a regex or something. Can you show me an example of a your
package.json with new lines just to make sure I'm understanding correctly.
Thanks!
On Thu, Nov 12, 2015 at 7:26 AM Frank van Wijk <notifications@github.com>
wrote:

[2015-11-12 20:03] fvanwijk commented on #72
You can reproduce it yourself easily. Do `npm init -y` in an empty folder and call `commitizen init cz-conventional-changelog --save --save-exact`.

[2015-11-14 22:41] afirdousi commented on #42
Do you guys have something on this uptil now?

Here is my simple package.json

{
  "name": "enterprise-config",
  "description": "This is a sample Node JS Module for showing how to setup travis ci with git for enterprise Node JS modules",
  "main": "src/index.js",
  "scripts": {
    "commit":"git-cz",
    "test": "karma start",
    "semantic-release": "semantic-release pre && npm publish && semant

[2015-11-16 15:40] jimthedev commented on #72
@fvanwijk I see what you're saying.

In the next release I will fix this and make sure to use [this package](https://github.com/sindresorhus/detect-indent) to detect the indentation preferences.

[2015-11-16 16:12] fvanwijk commented on #72
Nice! It would be nice when the result is the same as when you're doing `npm install ... --save`, which also allows for adding stuff to package.json but obeys current formatting.

[2015-11-16 22:01] jimthedev commented on #10
Quick update: This will be released in the next Node.js versions on both the 4.x and 5.x branches. I'm going to close the issue for now since it is merged and out of the control of this repo.

More info:
https://github.com/eslint/eslint/issues/3880

[2015-11-16 22:10] jimthedev commented on #42
@afirdousi That is odd. Unfortunately, I don't have a Windows 8.1 machine but would you mind trying to run these in powershell to see if it makes any difference?

[2015-11-17 01:34] maboiteaspam commented on #42
hi,

I ll just drop that link here, to not forget about it, until i can free time,
https://github.com/Microsoft/nodejs-guidelines

i believe it may be helpful : )

[2015-11-17 01:36] jimthedev commented on #42
Sounds good. I have appveyor tests running on Windows 2012 R2. The only one
failing is the multi line commit one which is due to the way git on Windows
formats its output.
On Mon, Nov 16, 2015 at 7:34 PM maboiteaspam <notifications@github.com>
wrote:

[2015-11-17 22:33] jimthedev commented on #42
Ok all Windows tests are now passing on appveyor. Next I will have to try to figure out if it has something to do with how we're recommending that people configure their package.json's commit script. Thanks for hanging in there.

[2015-11-18 06:33] maboiteaspam commented on #42
Hi @jimthedev ,

amazing, i can make it work now : ) Happy.

But i need to report about something i found weird.

`git cz` will __not__ work, `git-cz` does work here.

The steps i followed
[code]
et voila : )

Will dig about adapters now !!

Thanks again.

[2015-11-18 07:51] jimthedev commented on #42
Hooray! Thanks for the feedback!
On Wed, Nov 18, 2015 at 12:33 AM maboiteaspam <notifications@github.com>
wrote:

[2015-11-19 16:07] bahmutov opened #79 "Allow specifying adaptor module, not path"
Why do we load a path to an adaptor and not an actual module? I like to distribute the commitizen with my pre-git module as `pre-git` dependency by default. But commitizen cannot find the adaptor path

[code]
This breaks between npm 2 and 3 - npm3 seems to flatten paths, while npm2 leaves the paths nested.
I believe it would be better to just require the adaptor by name, rather than use `node_modu

[2015-11-19 16:52] jimthedev commented on #79
@bahmutov Thanks for the great idea. I've considered this as well but haven't had time to implement yet. I do intend to eventually.

Historically, the reason behind using the path is two fold:

1. It is simply an artifact of commitizen being written before Npm 3 existed when it was simply easier to resolve a path.
2. It helpful for adapter authors who are developing their adapters at a separate pa

[2015-11-19 16:55] bahmutov commented on #79
cool, for now I implemented running the adapter from my own module without going through commitizen bin script, here is the change
https://github.com/bahmutov/pre-git/commit/1f35af70e6d428520bd79ed9fea98740a4f76592
I wanted to use commitizen as a module, but the src/index.js is a dummy file, right? https://github.com/commitizen/cz-cli/blob/master/src/index.js

[2015-11-19 16:58] jimthedev commented on #79
You are correct. :) It is just a dummy file since up until now it has really only been used as a cli. Time to expose the api a bit better in a library I suppose.

One quick edit, too. My post above on finding npm modules was incorrect. That is how we used to do it. We [now use](https://github.com/commitizen/cz-cli/blob/30c7b55bc32c0152fd7075f98d408ba93447deaa/src/commitizen/adapter.js#L75) the [fi

[2015-11-19 17:02] jimthedev opened #80 "Expose the commitizen api as a proper library so that it can be used as a module"
This is long overdue and came up as part of #79 thanks to @bahmutov who would like to use commitizen as a module but can't since the current src/index is a dummy file.

[2015-11-19 17:07] jimthedev commented on #79
Also, @bahmutov, please upgrade to the latest version of commitizen's cli and use the following package.json syntax since czConfig will be deprecated in 3.0.0.

[code]

http://commitizen.github.io/cz-cli/

[2015-11-23 16:01] sebastienbarre opened #83 "Use git cz globally, in non-npm / non-javascript projects"
Big fan of `commitizen` here. In so much that I'm trying to use it for projects that are not part of the NPM/node/javascript ecosystem. Any git repository, that is.

I can't get that scenario to work. I've installed `commitizen`, `conventional-changelog`, `cz-conventional-changelog` globally with `-g`, but running `git cz` fails (and falls back to regular `git`) because the adapter is either not f

[2015-11-25 20:12] jimthedev commented on #83
@sebastienbarre Sorry I was a bit slow to reply. Good question, though!

Our config loader actually [allows for this](https://github.com/commitizen/cz-cli/blob/eb71e1b3841668533a8991b69e2c3704efc4637e/src/commitizen/configLoader.js#L6). You can use either `.cz.json` or `.czrc`. Just throw your config in there and we'll pick up the config. :+1:

Hopefully that works!

[2015-11-25 20:28] sebastienbarre commented on #83
Thanks. Interesting! Failing for me:
[code]
Maybe I'm not using it properly, here is my `~/.czrc`:
[code]
I also tried
[code]

[2015-11-25 20:31] jimthedev commented on #83
A yes, can you try:

[code]

I've also not actually tried using the ~ in the path but hopefully it would work. If not we could probably implement some kind of way to resolve ~ to a homedir.

[2015-11-26 00:32] sebastienbarre commented on #83
I'm afraid neither the above, nor a resolved path did the trick...
[code]
still getting
[code]

[2015-11-26 00:41] jimthedev commented on #83
Huh, ok I'll have to dig in more. Perhaps it is a bug. Thanks for working
on it w/me.
On Wed, Nov 25, 2015 at 6:32 PM Sébastien Barré <notifications@github.com>
wrote:

[2015-11-28 17:40] ocombe commented on #10
I just had the problem on windows, it still doesn't work with the last 4.x version (4.2.2), but it works with the last 5.x version (5.1.0), so that's all good :)

[2015-11-29 01:25] jimthedev commented on #10
Thanks for the confirmation @ocombe. I know there are some security patches being worked into older versions so perhaps it is taking a bit longer to get this in to those. At any rate, it is good to know it is fixed in 5.x!!!

[2015-11-29 23:49] jimthedev commented on #83
I have this resolved, just working on fixing some tests it broke as a result. Will be in the next release.

[2015-11-29 23:51] sebastienbarre commented on #83
Sweet, thanks

[2015-11-30 08:55] xavhan opened #85 "Multiline description"
I can not figure a way to make easily multiline description in the commitizen promt.
Do you have a clever way to do it?

Thanks.

[2015-11-30 14:28] jimthedev commented on #83
Ok so this was *supposed* to be simple but my tests alerted me to the fact that it isn't as simple as I'd hoped.  This is due to two special places that the config loader is used in:

1. Our test suite
2. the `commitizen init` command, which attempts to make sure that it doesn't overwrite any existing adapter configs that might be up the tree.

So why are these two cases special? Well, simply put,

[2015-11-30 14:52] jimthedev commented on #85
@xavhan Thanks for opening this issue. This repo is for commitizen's command line tool (cz-cli) and is probably not what you need to change to accomplish this. Instead, you should fork and make changes to the [conventional changelog adapter](https://github.com/commitizen/cz-conventional-changelog). Once you've made the changes you want, you'll then need to publish it to npm. Once you do this then

[2015-11-30 15:28] sebastienbarre commented on #83
Thanks @jimthedev ; can you point me to the traversal code, out of curiosity?

[2015-11-30 17:46] xavhan commented on #85
Thanks for your answer, I'll dig into it!

[2015-12-04 14:41] tjoskar commented on #85
@xavhan, you may already have a solution; I have experimenting on the same same issue and you could start your favorite editor from your adapter like this:

[code]

However, I'm missing the ability to use git's default editor to get access to commit information like untrack/staged files, files to committed, what branch I'm on etc.
@jimthedev, Is it possible to only use `commitizen` to a post-commi

[2015-12-04 14:43] tjoskar commented on #85
@xavhan, sorry for hijacking your issue. Maybe I should create a new issue.

[2015-12-06 10:48] xavhan commented on #85
@tjoskar Don't worry ;) I am eager to see the outcome of yours.

[2015-12-06 18:28] tjoskar commented on #85
@xavhan, after I posted my comment, I started to play around with `prepare-commit-msg` and come up with this: https://github.com/tjoskar/emoji-commit-hook (proof of concept). I will go with `prepare-commit-msg` for now but I really like the idea of `commitizen`; that you just have to put a few lines in your `package.json` and you are good to go. That is fantastic. However, I really miss the abilit

[2015-12-31 07:19] maboiteaspam commented on #42
kind of forgotten to close, sorry : )

[2015-12-31 07:19] #42 closed

[2016-01-08 16:30] bigeagle opened #102 "Usage in non-node projects?"
Hi,
I'm happy to meet this tool. While running
[code]
I got `package.json Not Found`, but I'm not writing a node.js project, so `package.json` requirement does not make sense.

Any suggestions of using this in non-node projects?

Cheers,

[2016-01-08 17:24] jimthedev commented on #102
Hmm good question. The init command needs to be improved to support this scenario. It is not currently a use-case that our tests cover. It certainly could be.

For now, as a manual workaround, you need to create an empty or boilerplate package.json in the root of your non-node project. If you want to do this using the cli then you can do something like `npm init --yes` followed by `commitizen init

[2016-01-10 10:52] Guria opened #103 "allow --verbose in git commit"

[2016-01-11 07:21] XadillaX opened #105 "Error with quote `"
[code]

or

[code]

They make no sense.

[2016-01-21 00:54] i5ting opened #113 "it is only for git add?"
if file is modify or delete,it is not available

[2016-01-29 02:29] zg9uagfv opened #125 "Error: ReferenceError: Map is not defined"
`
#:uname -ra
Linux 3.13.0-76-generic #120-Ubuntu SMP Mon Jan 18 15:58:41 UTC 2016 i686 i686 i686 GNU/Linux

＃:npm install -g commitizen

＃:~/Project/t$ sudo commitizen init cz-conventional-changelog --save --save-exact --force
Attempting to initialize using the npm package cz-conventional-changelog
Error: ReferenceError: Map is not defined
＃:~/Project/SyncClient$
`

[2016-01-30 02:58] yu-yuxuan commented on #83
I create symbolic link to solve this problem.
`node_modules` is in the `/Users/yuyuxuan`.
Suppose my git repository is `/Volumes/Transcend/Study/English/New_concept/New_concept_dictation`
I use `ln -sf ~/node_modules .` at the location `/Volumes/Transcend/`

[2016-02-02 06:12] bkapicka commented on #125
I had the same error when using Node v0.10.36.  Updating to v4.2.6 resolved the issue in my case.

[2016-02-02 15:34] jorgecasar opened #128 "It doesn't work in a yeoman generated project"
I installed and configured the cz-cli into a git project generated by yeoman (yeoman polymer).

Running `git cz` works fine until after the last questions that lunch yeoman generator. Here is an example of the process:

[code]

[2016-02-03 05:12] tusharmath opened #129 "Fail a build if the commit is not in the standard format"
How can I ENFORCE using CZ? Can I check the commit messages on Travis?

[2016-02-05 14:29] tusharmath commented on #129
ANY BODY THERE?

[2016-02-05 15:26] Guria commented on #129
There is pre commit hooks for that, but I have tried it to use with travis npmjs.com/package/validate-commit-msg

[2016-02-05 16:24] tusharmath commented on #129
Wow! Thanks @Guria

[2016-02-05 16:24] #129 closed

[2016-02-05 17:15] lricoy opened #132 "Ability to re-run a commit if it fails"
Sometimes, when a pre_commit hook is configured, our commit will fail. It would be helpful to have a way to pass something like `--retry` so we won't need to enter the message again.

[2016-02-08 14:14] jimthedev commented on #125
@bkapicka is correct. At this time only 0.12 and greater are tested. We will continue to deprecate node versions in the future as stable versions come out.

[2016-02-08 14:14] #125 closed

[2016-02-08 14:16] jimthedev commented on #128
I have not tried using this this a yeoman generator yet. Did you make sure to CD into the directory with the project? You don't show it in the steps above so I just want to make sure.

[2016-02-08 14:18] jimthedev commented on #105
I don't understand. Is something breaking at that point? Afaik there's not a test case for this. Would you be able to put in a PR to cover this in a test case?

[2016-02-08 14:22] jimthedev commented on #113
You still need to run git add, git rm or whatever else you would run normally to get files into staging. This only takes over for `0git commit`. It does not cover all cases but certainly covers most of the common ones. If you have a custom command that you're running that isn't working please post it here or even better, submit a failing test.

Thanks!

[2016-02-08 14:22] #113 closed

[2016-02-08 14:24] jimthedev commented on #103
Hi there. Originally we allowed this but then we realized that it was very difficult to support this and multi line commit messages. With that said, we could look into a second command `git czo` or something like that allows you to pass options. Can you provide me with a few commands that currently don't work for you so that I can write some test cases? Thanks.

[2016-02-08 14:26] jimthedev commented on #132
Good point. Since this is a cli, we don't really have any place to store this commit over time. Would it be just the last 1 commit that you'd want cached?

[2016-02-08 14:36] Guria commented on #105
@jimthedev just try ``` `echo smth` ``` in commit message and it would be evaled in bash. `cz-customizable` has fix for it by escaping.

[2016-02-08 18:28] jorgecasar commented on #128
Yes, I'm in the project folder. Yeoman must be executed in a empty folder and it becomes the root folder.

All the command showed in the example was executed in the root of the project.

[2016-02-10 01:27] lricoy commented on #132
Yeah, at first that would be the case. The use case would be to re-run it after fixing the tests or coverage.

[2016-02-10 02:18] kentcdodds commented on #132
I'd love this feature. Having to fill out the prompts again because of a long error is super annoying. I'd want it to show me the message before it commits though.

[2016-02-10 02:39] jimthedev commented on #132
Where can we store this info? A text file cache in the repo? We'd need to add it to .gitignore but at least then the cash would go with the repo if it gets moved.

[2016-02-10 03:37] kentcdodds commented on #132
Yeah, put it in the repo and document the need to gitignore it

[2016-02-26 08:07] clearbug commented on #10
I also met this .How do you solve this problem? @BarryThePenguin

[2016-02-29 16:02] egoroof commented on #10
@clearbug see https://github.com/nodejs/node/issues/5384. Now it's a new problem.

[2016-03-02 13:58] remy opened #151 "Should nodemon be a dep instead of devdep?"
I've not looked at this in detail yet, but when I installed a package that had `commitizen` as a `devDependencies` it also appeared to install `nodemon` - which is (I suspect) used for development in commitizen.

So should nodemon be moved to `devDependencies` instead of `dependencies`?

[2016-03-02 14:01] jimthedev commented on #151
Yes. You are correct. There is a pr for this and other node dev deps. I
will merge when I make it to a computer today.
On Wed, Mar 2, 2016 at 7:58 AM Remy Sharp <notifications@github.com> wrote:

[2016-03-02 14:07] remy commented on #151
Darnit - I checked the issues for any mention it being handled, but totally missed the PRs! Sorry! (I'll close as it's in hand).

[2016-03-02 14:07] #151 closed

[2016-03-02 14:08] jimthedev commented on #151
Don't worry. I'm way behind on updates. Not your fault :p

Thanks for the feedback.
On Wed, Mar 2, 2016 at 8:07 AM Remy Sharp <notifications@github.com> wrote:

[2016-03-03 18:38] jimthedev commented on #151
@remy Finally fixed our CI issues. This is released in [v2.5.1](https://github.com/commitizen/cz-cli/releases/tag/v2.5.1).

[2016-03-03 19:21] #79 closed

[2016-03-03 21:26] colinrymer opened #153 "`gulp` and `gulp-git` are required dependencies for at least v2.6.0"
Both `gulp` and `gulp-git` are required to run cz-cli, but are only listed as `devDependencies`, not normal `dependencies`.

[2016-03-03 22:20] marionebl commented on #153
Sorry for introducing this with https://github.com/commitizen/cz-cli/commit/a8c40a9a6a1009dc80a5e0cb17591b8f1ac9aa05. I was a bit overzealous optimizing and getting rid of the `graceful-fs` deprecations there.

[2016-03-03 22:28] colinrymer commented on #153
No worries. I was glad to see stuff get moved to devDeps, and the bug was easily resolved by just manually installing gulp and gulp-git for now. :+1:

[2016-03-03 22:28] jimthedev commented on #153
I'll try to merge Marios PR tonight when at a computer again
On Thu, Mar 3, 2016 at 4:20 PM Mario Nebl <notifications@github.com> wrote:

[2016-03-04 04:43] #153 closed

[2016-03-04 17:00] davidungio commented on #12
Is it possible to have the commitizen dialogue load when using `git cz --amend`?

[2016-03-08 03:47] kamushin commented on #103
`git cz --verbose`
will return
`{ [Error: Command failed: /bin/sh -c git commit -m "*******"  -verbose
error: did you mean `--verbose` (with two dashes ?)
]
  killed: false,
  code: 129,
  signal: null,
  cmd: '/bin/sh -c git commit -m "*****"  -verbose ' }
`

[2016-03-08 17:00] #51 closed

[2016-03-09 14:21] #103 closed

[2016-03-09 14:23] jimthedev commented on #103
--verbose should be fixed in v2.6.3. This is just a hotfix for verbose. We're going to have to find a longer term options fix like I mentioned before, but I don't have the bandwidth right now to write that feature. Would welcome PRs in this area.

[2016-03-09 14:26] jimthedev commented on #128
@jorgecasar Were you able to find anything more about why this was happening? I don't have the bandwidth to investigate further but am curious as to why that would happen.

[2016-03-09 16:45] jorgecasar commented on #128
@jimthedev I don't know how it happens. I spent some time reading yeoman generator for Polymer and cz-cli code but I couldn't find anything. I will try with other generator to discard options.

The full process to reproduce the error is:

[code]

And after answer all the `cz` questions it start the yeoman script instead of `cz` one.

[2016-03-10 00:53] jimthedev commented on #128
Try the following change in your process (note I added just one line, git init):

[code]

Looks like yeoman doesn't actually initialize a git repo for you so you probably need to do it yourself using git init as I showed above.

[2016-03-10 01:08] jimthedev commented on #132
Gave it a bit more thought. We can do this simply by have a filesystem based cache in the user's home directory.

The cache keys will be a paths to repo roots, the value will be a serialized command that was going to be executed. I will work on this soon. I think we can offer it w/o a breaking change or .gitignore changes. Sure if you move a folder around you'll lose the ability to use the retry c

[2016-03-10 02:19] kentcdodds commented on #132
What if you used the temp directory instead? That way you don't put more stuff in the already-too-full user home...

[2016-03-10 02:23] jimthedev commented on #132
I'm thinking of using home-or-tmp.
On Wed, Mar 9, 2016 at 8:19 PM Kent C. Dodds <notifications@github.com>
wrote:

[2016-03-10 16:57] #132 closed

[2016-03-10 17:00] jimthedev commented on #132
This will be released as an undocumented feature in 2.7.0. I will add tests and docs in 2.7.1 but wanted to see if you folks could test it. You can use it but running `git cz --retry`.

[2016-03-10 17:00] jimthedev commented on #128
cc @jorgecasar

[2016-03-10 17:01] jimthedev opened #157 "Docs and tests for --retry option"
Need to test and add docs for --retry undocumented option that is being released in 2.7.0.

[2016-03-10 17:02] lricoy commented on #132
I will take a look right away.

[2016-03-10 17:07] jimthedev commented on #132
Looks like the node 0.12 build failed. @lricoy  I'll have to look at it before 2.7.0 releases

[2016-03-10 18:22] jimthedev commented on #132
Ok, looks like it was me just being dumb and forgetting that Object.assign isn't available in node 0.12. Using lodash's alternative for now. This fix is released as [2.7.1](https://github.com/commitizen/cz-cli/releases/tag/v2.7.1). Would appreciate any feedback!

[2016-03-10 20:15] #157 closed

[2016-03-10 20:19] jimthedev commented on #132
This is in the [docs](http://commitizen.github.io/cz-cli/) as of https://github.com/commitizen/cz-cli/commit/f1c719fd892cabbfc070b4275f3c33d7000b978a

[2016-03-10 20:41] jimthedev commented on #85
@tjoskar I think that could work and am happy to entertain PRs so long as they don't break the new `--retry` functionality. One question. Is there a difference between using a post hook and just running `git cz && git cz --amend --no-verify`?

[2016-03-10 21:16] #80 closed

[2016-03-11 16:07] jorgecasar commented on #128
HI,

It seems that the question prompt callback it isn't called. Instead of the cz script it calls again the yeoman question prompt callback.

https://github.com/commitizen/cz-conventional-changelog/blob/55f72b9dea9dd3938ef0810cbc9dec54a4d13e34/index.js#L80-L102

[2016-03-11 17:50] jimthedev commented on #128
Hi,

Could you upload this all in a zip or post a link to a repo? I am using the steps you provided and as long as I run git init properly in the process I am unable to reproduce.

[2016-03-11 17:50] lricoy commented on #132
It worked fine for me @jimthedev

[2016-03-11 17:54] jimthedev commented on #132
@lricoy Great. Thanks!

[2016-03-11 18:00] lricoy commented on #132
One thing to note. If using from a npm script defined on package.json. The syntax required double `--`, as npm requires `--` for passing args to `npm run` and the `--retry` being the argument itself:

`npm run commit -- --retry`

commit only being an alias to git-cz on node-modules/bin
[code]

[2016-03-11 19:01] kentcdodds commented on #132
See also: https://github.com/bahmutov/npm-quick-run :-)

[2016-03-11 19:14] lricoy commented on #132
Cool @kentcdodds

[2016-03-15 18:23] tjoskar commented on #85
@jimthedev, I have never thought of using `--amend` directly after using `git cz`. Why have I not thought of that before? It feels however like a ugly hack but as you say, "it might be acceptable". I will try it out tomorrow and get back to you.

[2016-03-17 22:03] LinusU opened #159 "Removes new-line at end of file in `package.json`"
When running `commitizen init ...` the last newline in the `package.json` gets removed. Not only is this annoying because of the git diffs and because `npm i --save` will add it back; it's also [no longer technically a text file](http://stackoverflow.com/questions/729692/why-should-text-files-end-with-a-newline).

It would be awesome if the newline could be kept :raised_hands:

[2016-03-18 16:29] #159 closed

[2016-03-21 12:46] LinusU opened #161 "Strategies for enforcing commitizen"
I'm not sure that this is the right place to open this but here goes; have there been any discussions on how to enforce commitizen? We started using it in a few projects at work but it's both easy to forget and hard to make sure that everyone committing to the project respects it.

Maybe an idea would be to add a `commitizen check master` that checks all commits that have been added on this branch

[2016-03-21 15:12] bitjson opened #162 "git-cz doesn't return an error code when commit fails or is canceled"
This makes it hard for other utilities or scripts to confirm a commit happened. Eg: https://github.com/bitjson/wip/issues/3#issuecomment-199331449

[2016-03-21 19:49] jimthedev commented on #161
I agree that exit codes need to be fixed.

One thing you can do to enforce this on your CI is set up this:

https://github.com/kentcdodds/validate-commit-msg

[2016-03-21 19:51] jimthedev commented on #162
I agree. This is an issue that needs fixed. It is going to take some cleanup and I won't be able to do it immediately due to being stretched pretty thin, but it should be possible to accomplish and should be relatively high on the priority list in order to be a good cli citizen with regards to exit codes.

[2016-03-21 19:56] jimthedev commented on #161
Also, from a purely ideological standpoint. Commitizen is a purely opt in tool since not doing so would harm those that are capable of following the convention without this tool. For those people, forcing a tool on them is inadvisable. With that said, if you're in a situation where you need to ensure that people are following the convention, then validate-commit-msg should be used with commitizen.

[2016-03-28 00:24] jacopotarantino opened #165 "Documentation for running as a local module"
I consider this a best practice because you don't have to assume that a user has cz installed globally. I managed to get it running properly on my machine but there's probably a better way to do it. Could you help me document this feature?

[2016-03-28 01:39] sarbbottam opened #166 "Question - how `cz` is hooked/aliased to git"
**No issue with `cz-cli`**. On `npm install -g commitizen` I am able to use `git cz`; as stated

---

Please excuse my ignorance , I would like to know, how `cz` is `hooked/aliased` to git.

I have following [`git alias`](https://github.com/sarbbottam/conf-files/blob/master/git-confs/gitconfig#L12-L21) set.

[code]

So, I could use `git ci` instead of `git commit`, but I could not figure out how `

[2016-03-28 13:30] jimthedev commented on #165
I agree. In general, node projects should install commitizen as a local dev dependency using `npm i -D commitizen` and this should probably be changed in the documentation. For some projects it may be preferable to use a global, but I think that should probably be a secondary option in the docs and not the primary suggestion.

Once you have commitizen installed as a local dev dependency you can ex

[2016-03-28 13:30] jimthedev commented on #161
Hi @LinusU. Were you able to figure out enforcement of commit conventions?

[2016-03-28 13:55] jimthedev commented on #166
Hi there! Good question and you are exactly right.

Commitizen is what's called a custom git command. These work by, as you said, [a filename convention](https://github.com/git/git/blob/56331f8727b0c2e7dc713b728eaf1e5843422cb7/git.c#L553). In theory all you need to do is put an executable called git-mysweetcommand in your PATH. In practice, in Node, you need to do a bit more:

You need to create t

[2016-03-28 17:20] sarbbottam commented on #166
Thanks @jimthedev, this could be the **best explanation**!! :100:

[2016-03-28 17:20] #166 closed

[2016-03-28 20:44] LinusU commented on #161
Not yet, but I'm thinking something towards having a small script check the log running on Travis or similar...

[2016-03-29 14:09] jimthedev commented on #166
@sarbbottam :+1: Happy to help.

[2016-03-30 18:46] #105 closed

[2016-04-04 19:01] sarbbottam opened #178 "Is it possible to change the color of the input beyond certain length?"
Is it possible to change the color of the input beyond certain length?

Somthing like
<img width="563" alt="screen shot 2016-04-04 at 11 57 11 am" src="https://cloud.githubusercontent.com/assets/949380/14259591/713b5740-fa5c-11e5-9a20-e483b9dcb790.png">

<img width="883" alt="git-cz" src="https://cloud.githubusercontent.com/assets/949380/14259695/eb64ee96-fa5c-11e5-9f7a-f174f9a5f2c4.png">

Thanks!

[2016-04-04 19:18] jimthedev commented on #178
Hi @sarbbottam,

I like this idea. Unfortunately it might be difficult to accomplish. We'd likely need to find a way to use the [node-color-readline package](https://www.npmjs.com/package/node-color-readline) with [Inquirer.js](https://www.npmjs.com/package/inquirer). If we could find that out, then it might be possible. Even then, we'd need the [individual commitizen adapters](http://commitizen.g

[2016-04-04 19:25] sarbbottam commented on #178
Thanks @jimthedev, wondering if this should be implemented at [Inquirer.js](https://www.npmjs.com/package/inquirer), since [Inquirer.js](https://www.npmjs.com/package/inquirer) owns/handles the prompt.

[2016-04-04 20:56] jimthedev commented on #178
@sarbbottam Technically we just pass the adapter an instance of Inquirer, so you can ignore that instance and use something completely separate for prompts. If that thing you uses works with node-color-readline then everything should work. Currently most adapters take advantage of Inquirer because it is so simple to implement and covers a high percentage of use cases. I am open to having these cha

[2016-04-04 21:06] sarbbottam commented on #178
@jimthedev let me take a look, will be more than happy to raise a PR, I might need a little guidance.

[2016-04-04 21:11] jimthedev commented on #178
Sure thing. I'm happy to answer any questions, review code, or point you in
the right direction.
On Mon, Apr 4, 2016 at 4:06 PM Sarbbottam Bandyopadhyay <
notifications@github.com> wrote:

[2016-04-04 22:21] sarbbottam commented on #178
Hi @jimthedev,

I guess [cz-conventional-changelog/index.js#L67-L71](https://github.com/commitizen/cz-conventional-changelog/blob/master/index.js#L67-L71) can pass a `transformer function` to `Inquirer.js`

[code]

and

[Inquirer.js/lib/prompts/input.js#L55-L70](https://github.com/SBoudrias/Inquirer.js/blob/master/lib/prompts/input.js#L55-L70) can invoke this `transformer function`

[code]

Let me

[2016-04-05 19:37] LinusU opened #182 "Support for amend (`--amend`)"
When running `git cz --amend` I do not get the commitizen prompt, but instead the normal git way of editing message.

It would be awesome if it would show me the commitizen prompt again, especially since I most often use it when I forgot to run `git cz`.

[2016-04-06 21:13] jimthedev commented on #182
Hi @LinusU. Thanks for the question.

This was asked in #12 but I'd like to hear more about what your use case / workflow is? Basically, this flag (`--amend`) is a built in git (not commitizen) command. Commitizen doesn't override this because if we did, and you had a spelling error in your commit message, you would not be able to edit it easily. We could add a new flag like `--amend-over` which m

[2016-04-07 03:28] adoyle-h commented on #102
Maybe creating a `czfile` in the root of project is better, just like `gulpfile.js`. The cz-cli could read both the `config.commitizen` from package.json and the content of czfile.

[2016-04-08 13:29] pmcelhaney opened #187 "git cz fails when not in the root directory"
When I try to run `git cz` and I'm not in the root directory I get an error.

[code]

[2016-04-08 15:32] ddomingues commented on #85
Just add `\n` to your description :wink:

[2016-04-10 17:19] tusharmath opened #192 "Better support for breaking changes"
I think we can automate the prefixing of `BREAKING CHANGE:`. Right now one needs to explicitly type it and because of some silly typo, the release ends up being a feature release instead of a breaking release.

[2016-04-10 17:35] jimthedev commented on #192
Sure, I like the idea. I'm not sure what would be the best way to improve this. Do you have any ideas for how to do this? I know [cz-customizable](https://github.com/leonardoanalista/cz-customizable) has some functionality for this. Maybe we could ask @leonardoanalista to push it back up into the cli?

[2016-04-10 18:06] tusharmath commented on #192
@jimthedev I guess the issue should have been created https://github.com/commitizen/cz-conventional-changelog.

[2016-04-10 22:03] leonardoanalista commented on #192
Yes @jimthedev Cz-customizable plugin adds the "breaking chance" words in uppercase.

[2016-04-10 22:05] leonardoanalista commented on #192
One more difference from original conventional change oh:  we split the footer question in 2: one for close issues and other for breaking changes. This way we can add the handy words

[2016-04-10 22:07] leonardoanalista commented on #192
I thing the question asked belong to the plugins, not comittizen

[2016-04-11 03:50] #192 closed

[2016-04-19 04:48] camwest opened #201 "New Release?"
Can you release what's queued on master?

[2016-04-20 13:06] jimthedev commented on #201
Hi @camwest. Sorry about that. Should be live now in 2.8.0.

[2016-04-20 13:06] #201 closed

[2016-04-20 22:25] camwest commented on #201
Thanks Jim

[2016-04-21 14:35] LinusU opened #205 "2.8.0 doesn't make any commits"
With version `2.8.0` I can no longer make any commits, where it usually prints the new commit, it doesn't print anything at all. No commit is created, no error message is printed, and the exit code is still 0.

[2016-04-21 18:54] nelsonpjunior commented on #205
same problem here,
It seems that the prompt callback it isn't called.

[2016-04-21 19:47] camwest commented on #205
Looks like https://github.com/commitizen/cz-cli/commit/a538dceddf829b7ca4313fe137afdf1b33587384 broke the build. The upgrade to inquirer change it's API.

In 0.12.0 inquirer the interface was

[code]

Now in 1.0.2 of inquirer the signature is

[code]

https://github.com/commitizen/cz-conventional-changelog/blob/7659b955a86a13a6ce997ce0ff9bbecf9ccc54be/index.js#L32 needs to be updated to use the ne

[2016-04-21 19:49] camwest commented on #205
See https://github.com/commitizen/cz-conventional-changelog/pull/18 for proposed fix.

[2016-04-22 10:17] ta2edchimp commented on #187
A mixture of how we [detect the current git repo's root](https://github.com/gtramontina/ghooks/blob/master/lib/install.js#L43-L50) and [resolve the path to a required module](https://github.com/gtramontina/ghooks/pull/69/commits/ee8b2cd173158cc0a162f4f60abb812a6cab3e94#diff-07a81d82ccc03cfdbbdb8416bdbd89f8R13) using [`findup`](https://www.npmjs.com/package/findup) or [`find-up`](https://www.npmjs.

[2016-04-22 16:19] camwest commented on #205
https://github.com/commitizen/cz-cli/pull/206 needs to be merged before the fix will be taken.

[2016-04-24 20:26] sarbbottam commented on #83
I could get `commitizen` and  `cz-conventional-changelog` work for `non-node-git-repo` with global installation.

Here are the steps that I have followed.
* `$ npm i -g commitizen cz-conventional-changelog`
* `$ echo '{ "path":  "cz-conventional-changelog" }' > ~/.czrc`; create `.czrc`
* `$ cd non-node-git-repo`
* `$ touch foo`
* `git cz -a`

Hope it will be helpful.

[2016-04-24 22:48] sebastienbarre commented on #83
@sarbbottam the scenario you described didn't work when I created the issue, but it seems to have been fixed by @jimthedev since then. Which is great. Thanks to all.

[2016-04-24 22:48] #83 closed

[2016-04-24 23:38] sarbbottam commented on #83
@jimthedev let me know if you would prefer a PR to update the README with

* `$ echo '{ "path":  "cz-conventional-changelog" }' > ~/.czrc`; create `.czrc`
* `$ cd non-node-git-repo`
* `$ touch foo`
* `git cz -a`

[2016-04-25 01:08] jimthedev commented on #83
@sarbbottam That would be great if you could put in a README PR! 👍

@sebastienbarre Yes this was a nice PR from someone that replace how I was using require and instead using .resolve which is much more consistent behavior with how other node modules typically let you provide input. Cheers to the contributors. :)

[2016-04-25 04:41] kwonoj opened #207 "Signing git commit?"
Hi, I'm curious if it's possible to sign git commit (https://git-scm.com/book/uz/v2/Git-Tools-Signing-Your-Work#Signing-Commits). Just did quick try by passing `-S` as argument, seems not working, maybe I'm missing something.

[2016-04-25 21:58] sarbbottam opened #210 "git cz fails in this repo"
[code]
<img width="929" alt="screen shot 2016-04-25 at 2 54 44 pm" src="https://cloud.githubusercontent.com/assets/949380/14800331/d2ffdf56-0af5-11e6-8597-7ad8757a5b50.png">

However, if I update `path` to `cz-conventional-changelog` instead of `./node_modules/cz-conventional-changelog`, it works as desired.

[code]

[2016-04-25 22:08] sarbbottam opened #211 "tests fails if I there is global configuration"
[code]

[code]

If I remove or rename `~/.czrc`, all the tests passes.

[2016-04-27 01:04] jimthedev commented on #211
This seems like a bug with our tests not being sandboxed properly. They are leaking. This is one of the tricky things with our current test suite. Since the loader being run during the tests actually hits disk and walks the directory tree we need a way of sandboxing the upmost directory during tests only.

This is to say, we need some way of saying to the loader: hey you're testing so you should n

[2016-04-27 01:16] jimthedev commented on #210
Hi @sarbbottam. Sorry for causing this issue. I described it a bit more in detail here including how it came about and why these kinds of issues are unlikely to come up in the future: https://github.com/commitizen/cz-conventional-changelog/issues/20#issuecomment-214931097

Basically. You need to update to the latest version of the commitizen cli (2.8.1 or greater). I see from your screenshot you a

[2016-04-27 01:27] sarbbottam commented on #210
No worries. Closing the issue, as the latest version addresses the issue. Thanks!!

[2016-04-27 01:27] #210 closed

[2016-04-27 09:28] zg9uagfv commented on #125
@bkapicka i got it!thanks.

[2016-04-28 00:55] sarbbottam commented on #211
I guess, if we set `process.env.USERPROFILE, process.env.HOMEPATH, process.env.HOME` to `~/path/to/cz-cli/tests` during tests, it should be ok, isn't it?

[`var directoryArr = [process.env.USERPROFILE, process.env.HOMEPATH, process.env.HOME];`](https://github.com/commitizen/cz-cli/blob/master/src/configLoader/loader.js#L43)

(_Haven't tried it, just wild guess_)

[2016-04-28 01:03] sarbbottam commented on #211
[code]

It works, __but__, `babel` fails, as I have overridden the `HOME` and its looking for `.babel.json` at `.test/`

[code]

[2016-04-28 15:46] jimthedev commented on #10
I re-opened this since as @egoroof stated, this continues to be a node or windows issue. Latest update from https://github.com/nodejs/node/issues/5384 is that it might be an issue with windows itself. Basically it is tricky to fix because it presents as a race condition.

[2016-05-02 12:19] Odalrick opened #217 "fs: re-evaluating native module sources is not supported"
I get the following error. Probably related to updating to node v6.0.0 .

$ git cz
(node:11355) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.
/usr/lib/node_modules/commitizen/dist/commitizen/adapter.js:184
    throw error;
    ^

Error: Could not resolve /home/ulrik/projects/vertices-couchdb/src/db/fixt

[2016-05-09 02:02] jimthedev commented on #217
We're unlikely to be able to do anything about this in the near term because it will take some time for our dependencies to upgrade to Node 6 compatibility.

We have several dependencies that use older version of graceful-fs. Take, for example gulp-git which relies on gulp which is not able to upgrade yet due to breaking changes. Until we can either move off of gulp-git for our commits OR we're ab

[2016-05-09 03:28] mfilotto opened #225 "scope propositions from commit history"
Hi,
Thanks for your nice tool, that's very handy.
It would be awesome to have scope propostions from previous scopes from the commit history.
Becauuse it's hard to remember what we've previously used so it's error prone, as a restult we have scope duplicates.

[2016-05-09 12:30] Odalrick commented on #217
Good to know it isn't something _I_ broke.

[2016-05-10 15:11] jessekoconnor opened #226 "using node 0.10.36 commitizen is broken"
When im using node 0.10.36, I cant use commitizen. I get the following error:

`git-cz

/sw/git-repo/apps/haakon-env/repos/translations/node_modules/commitizen/dist/commitizen/adapter.js:173
  var parsed = _path2.default.parse(inboundAdapterPath);
                              ^
TypeError: Object #<Object> has no method 'parse'
    at resolveAdapterPath (/sw/git-repo/apps/haakon-env/repos/translat

[2016-05-10 15:21] jimthedev commented on #226
Hi @jessekoconnor Thanks for reporting this. Unfortunately we do not support Node 0.10.  We currently test for version 0.12.* to 5.*. Currently 0.10 and 6.0 are unsupported. I think we probably could be more specific about support either in our package.json or in the README.md.

[2016-05-10 23:30] leonardoanalista opened #227 "update Inquirer.js from 0.12.0 to 1.0.2 is a breaking change"
Hi guys,

Update Inquirer.js from 0.12.0 to 1.0.2 is a breaking change:
https://github.com/commitizen/cz-cli/commit/a538dced#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R76

Maybe let the plugin maintainers know next time so we can prepare the fix. I'll update cz-customizable tonight or as soon as I can.

cheers
Leonardo

[2016-05-11 03:56] leonardoanalista commented on #227
I have fixed cz-customizable: https://github.com/leonardoanalista/cz-customizable/releases/tag/v4.0.0

[2016-05-12 16:16] LinusU commented on #182
That sounds very good 👍

Maybe even better would be if it could parse back to already written message to the answers, and suggest those as the default, but that would require updating all commitizen modules...

[2016-05-13 09:12] LinusU commented on #226
@jimthedev We should probably add the engines and enginesStrict fields to package.json so that it wont install on 0.10

[2016-05-13 09:18] LinusU commented on #205
ping @jimthedev, this still seems to be broken :( any updates?

[2016-05-13 19:58] jimthedev commented on #226
@LinusU I agree. Want to PR?

[2016-05-13 19:59] jimthedev commented on #227
@leonardoanalista So sorry for this. Totally my fault for labelling a breaking change as a fix. In the future this will not happen. In the rare event that it does I will open PRs on your repo to let you know of the fix.

Jim

[2016-05-13 20:20] jimthedev commented on #205
@LinusU This was merged and published. Are you using commitizen@2.8.1 and cz-conventional-changelog@1.1.6? I just tested it in OSX and it seems to be working.

[2016-05-14 14:29] LinusU commented on #205
Hmm, I just had a colleague that made a clean install the other day which it didn't work for... I'll have to check Monday which versions he was using...

[2016-05-14 15:17] LinusU commented on #226
Will do 👍

[2016-05-14 15:23] LinusU commented on #226
#229

[2016-05-15 08:26] simonwjackson commented on #10
Commitizen is essential to my dev workflow, so I made a **quick hack** so I could just type out the feature (rather than use arrow keys).

This gets the job done, but i hope the nodejs guys get this sorted out.

simonwjackson/cz-conventional-changelog@c408892e6fda003f70fdcadcd17c277a75b7d82c

[2016-05-15 10:05] calvinmikael commented on #217
Is there a workaround for this besides downgrading to Node 5?

[2016-05-16 02:02] jimthedev commented on #226
@LinusU Awesome. Can you change your commit message to conform with conventional-changelog? Thanks. 👍

[2016-05-16 02:14] jimthedev commented on #217
@calvinmikael Unfortunately not. We are still waiting on dependencies to upgrade to support node 6. I will try to put in some PRs with them to make sure it gets down to us but even then it might be a bit while things get merged. Thanks for your patience. Node 6 introduced a breaking change on a method used by a library used by most (if not all) of the filesystem watchers. We're in the same boat as

[2016-05-16 02:15] #227 closed

[2016-05-16 12:01] calvinmikael commented on #217
@jimthedev Thanks. I appreciate that you're trying to do the right thing here for everyone and it may take some time to get it right.

[2016-05-16 23:03] BarryThePenguin commented on #10
Looks like there's another potential fix coming through libuv/libuv#852

[2016-05-17 08:39] albinekb commented on #205
Still broken @ version `2.8.1`

[2016-05-17 08:45] LinusU commented on #226
@jimthedev I'll fix it right away, would have been great to have #182 now ;)

[2016-05-17 13:15] jimthedev commented on #226
@LinusU, I know, I would like it as well. :)

Unfortunately in the last month my wife's father passed away, I have a new job, a one year old daughter and my cars transmission just died so am a bit preoccupied with other things. Would be happy to take PRs but to be honest I will need help w/merging and publishing even. I will try to get something out but this is very low on my list at the moment. T

[2016-05-17 13:35] jimthedev commented on #205
@albinekb Can you let me know what version of cz-conventional-changelog (or another adapter) that you are using?

[2016-05-17 15:59] LinusU commented on #226
@jimthedev I'm very sorry to hear that, I would be very happy to help out! I use commitizen at work every day so I have a very high interest in keeping it working as smooth as possible. I'm `linusu` at npm and you can see my username here on github.

Hope that everything works out for the better for you, best of luck!

[2016-05-17 16:16] jimthedev commented on #226
@LinusU Added you to the team + npm. I think if you sign into Appveyor with your github account then you should also have admin access there for windows tests.

[2016-05-17 16:32] LinusU commented on #226
Thanks man

[2016-05-19 14:42] pmcelhaney opened #234 "2.8.1 does not commit"
OSX 10.11.3
Node 5.9.0

After upgrading from 2.7.6 to 2.8.1, `git cz` works normally but does not actually commit changes. The issue was introduced with 2.8.0.

[2016-05-22 10:58] dealloc commented on #207
What error are you getting? Because I'm using commitizen and signing and I have no problems

[2016-05-23 16:05] dealloc commented on #207
For anyone who stumbled upon this, you can sign your commits using ``` git cz -S ```
You might want to configure your GPG keys in your global config using ``` git config --global user.signingkey ```

I first tried running git cz with the --gpg-sign parameter but that seemed to fail. Maybe I'll open an issue for this

[2016-05-23 16:11] dealloc commented on #207
In case anyone else stumbles upon this issue, you can perfectly sign your commits using ``` git cz -S ```
You'll have configure your GPG key in the global git config using ``` git config --global user.signingkey <key> ``` (see [here](https://git-scm.com/book/tr/v2/Git-Tools-Signing-Your-Work#GPG-Introduction) for more info).

I usually signed my commits using the ``` --gpg-sign parameter="email" `

[2016-05-23 21:17] dealloc opened #240 "Configure cache"
Currently when using commitizen it dumps the commitizen.json file in the home directory (as described [here](https://github.com/commitizen/cz-cli#retrying-failed-commits)).
In Windows this doesn't exactly form a problem (you rarely see your homefolder), but when using Linux you're dropped right into the home folder when opening a file manager.
I'm no real fan of cluttering my home directory with c

[2016-05-23 21:18] dealloc opened #241 "Typo in the README"
You misspelled "*projects*" [here](https://github.com/commitizen/cz-cli#commitizen-for-multi-repo-proejcts) (you wrote proejcts).
I'll make a PR to fix this

[2016-05-24 11:21] LinusU commented on #240
Totally agree, maybe we could use: https://github.com/LinusU/node-application-config-path

[2016-05-24 11:49] dealloc commented on #240
I've taken a quick look at the source code of your package.
For Linux hosts you're using the ``` XDG_CONFIG_HOME ```, for example on my system (Arch linux) that variable isn't defined. I think it would be safed to use something like ``` HOME ``` (which the current implementation of commitizen uses) and put the cache in a subdir like .commitizen (which would be hidden due the "**.**" prefix

[2016-05-24 11:49] #241 closed

[2016-05-24 11:50] LinusU commented on #240
If `XDG_CONFIG_HOME` isn't present it will use `$HOME/.config`, thus the final path will be `$HOME/.config/commitizen`

[2016-05-24 11:52] dealloc commented on #240
Ah, seems I read a little too fast over the source, my apologies.
That seems like an ideal case! If I got the time I'll see about making a PR for this (but with my finals coming up I'm not certain I can)

[2016-05-25 21:49] dealloc commented on #207
@LinusU should we close this issue? It's not actually an issue and the author doesn't seem to respond anymore

[2016-05-26 06:07] LinusU commented on #207
It works for me as well :+1:

[2016-05-26 06:07] #207 closed

[2016-05-26 12:25] zacharytelschow commented on #205
I am running into the same issue.

[code]

[2016-05-26 13:00] zacharytelschow commented on #205
I installed cz-conventional-changelog@1.1.6 and updated my adapter and was able to commit.

I was unsuccessful when attempting to commit with:

- cz-jira-smart-commit@1.0.3
- cz-mapbox-changelog@1.1.1
- rb-conventional-changelog@1.1.9

[2016-05-26 14:33] jimthedev commented on #205
@zacharytelschow Those adapters probably need to implement the changes in the Inquirer 1.0 API. You can see these changes here: https://github.com/commitizen/cz-conventional-changelog/commit/807b4e5d

At the end of the day we probably need to have some compatibility checking between adapters and the commitizen cli so that if you try to commit and your adapter isn't compatible with the cli you're u

[2016-05-30 01:08] jimthedev commented on #217
@calvinmikael @Odalrick Are you still seeing this? I get the warning but it commits just fine.

[2016-05-30 01:10] jimthedev commented on #217
I've also blown away my node_modules directory and completely reinstalled commitizen and the adapter so perhaps an older version of graceful-fs is getting cached?

[2016-05-30 01:19] calvinmikael commented on #217
@jimthedev Running git cz on Node 6.2.0 with a new node_modules directory I'm able to commit now.

[2016-05-30 08:51] Odalrick commented on #217
@jimthedev Apart from the warnings it works on 6.2.0 now. I didn't even remove my node_modules.

[2016-05-31 19:12] jimthedev commented on #217
@calvinmikael @Odalrick Great! Thanks for the update. The ecosystem comes through!

[2016-05-31 19:12] #217 closed

[2016-06-02 09:43] LinusU opened #249 "Let the adapters depend on inquirer"
Instead of us supplying inquirer to the adapters, I think that it would be very nice if they could depend on it themselves. Then they can update that dependency at their own discretion instead of being dependent on the main module.

Currently you can choose to be compatible with either commitizen > 2.8.0, or with versions < 2.8.0 since we upgraded inquirer which broke the api. Since this has alrea

[2016-06-02 09:52] LinusU commented on #234
Which adapter are you using? See #249

[2016-06-02 09:54] LinusU commented on #205
See #249 for a proposed solution for fixing this in a more long term way

[2016-06-02 14:34] jimthedev commented on #249
@LinusU I like the idea of using the output as the commit message. If we can find a way that is relatively agnostic of inquirer then that would be preferable. The main reason I did this was because at least in some adapters I needed to manage the whitespace and I wasn't sure how that would work exactly. I agree that having adapters and the cli have shared dependencies (even if it is just the one)

[2016-06-02 16:16] LinusU commented on #249
Actually, I think that the work is best done in all of the adapters first. We don't need to change anything on our part to depend on inquirer in the adapters. I just tried it out with our internal adapter at work, and it works great.

We could potentially add a deprecation warning in this repository though.

[2016-06-02 16:44] jimthedev commented on #249
Oh right, ok let's do the adapters first then. We've done deprecation warnings before and they work pretty well.

[2016-06-03 01:56] leonardoanalista commented on #227
I would recommend to write end-2-end tests. Eg.: `commitizen + one adapter` to ensure no updates break the functionality.
Commitizen only works integrated with at least one adapter. It makes sense to test them from a user perspective.
I noticed that the standard changelog adapter doesn't have any uni tests.

[2016-06-03 08:49] LinusU commented on #227
Totally agree, it would be nice to get some tests up and running with some of the most popular adapters!

@leonardoanalista what do you think of #249, having the dependency in the adapter would mean that everyone could update at their own pace

[2016-06-04 06:07] leonardoanalista commented on #249
Let adapters depend on Inquire#v1.#.# is the simplest solution for sure.

[2016-06-05 17:16] pmcelhaney commented on #234
It's a custom adapter. Looks like we need to update it.

[2016-06-05 17:51] LinusU commented on #234
Yes, sorry about that, unfortunately a breaking change slipped through...

I would advise you to depend on `inquirier` in your adapter and not use the provided instance. That way your adapter can work wit both pre-2.8 and post-2.8 at the same time :+1:

[2016-06-06 12:08] pmcelhaney commented on #234
Thanks, I was able to resolve the issue by depending on Inquirer directly and changing to the promise API. Also discovered this is a duplicate of #205.

[2016-06-06 12:08] #234 closed

[2016-06-06 12:21] pmcelhaney commented on #249
As I understand, Inquirer switched from a callback API to a promise API, which in turn changed the API of cz.prompt(). IMHO, the best solution would be to update cz.prompt() so that it can both take a callback and  return a promise.

I don't have time at the moment to look for the code, but the change would be something like this:

[code]

I agree in the long term it's better to encourage adapters

[2016-06-06 13:03] LinusU commented on #249
That sounds like a good idea, let's 1) fix our api to accept both callback and promise, 2) migrate all adapters we know of to using own inquirer and finally 3) deprecate the `cz.prompt` api.

[2016-06-06 14:56] jimthedev commented on #249
👍🏽 love it!

On June 6, 2016 at 8:03:29 AM, Linus Unnebäck (notifications@github.com)
wrote:

[2016-06-15 02:18] vjpr commented on #45
Just wanted to mention there is an IntelliJ plugin for writing plugins at runtime that can rapidly speed up the development process. https://github.com/dkandalov/live-plugin

[2016-06-23 23:34] jacky810124 opened #266 "SyntaxError: Unexpected token }"
I got an error when I type `git cz` in my git repo.

How can I fix it?

[code]

[2016-06-24 08:50] LinusU commented on #266
What version of node are you running? `node --version`

[2016-06-24 12:34] jacky810124 commented on #266
the version is: `v4.4.3`

[2016-06-24 12:38] jacky810124 commented on #266
I can not understand what's happening, but `git cz` can work now..........

[2016-06-29 07:29] LinusU commented on #266
That's probably what happened, would have been nice with a better error message though...

[2016-07-06 21:20] safareli opened #279 "After successful commit content from stdin is printed back"
Here is the problematic scenario:
- run `git cz`
- enter data in prompts
- ghooks runs tests
- commit is created
- *everything what has bin printed after ghook started is printed again*

[code]
this output is from this [commit](https://github.com/safareli/free/commit/e6057962c145e4020d28e4c6c33b163bfdd353f5)

[2016-07-13 09:58] Calyhre commented on #182
+1 for this option

A use case I just came trough, I made a rebase interactive and I want to amend my awful temporary commit message with git cz.

[2016-07-19 20:02] rtomchinsky opened #286 "Messages with newlines are broken on Windows"
When commiting, when messages are split into lines, `git` will consider each line a new paragraph, meaning that paragraphs that are broken into many lines, such as [cz-conventional-changelog](https://github.com/commitizen/cz-conventional-changelog) emits, will result in an unexpected formatting of the final message.

I opened stevelacy/gulp-git#122 which allows gulp-git to pass multiline messages

[2016-07-21 16:30] martinhbramwell opened #289 "git: 'cz' is not a git command. See 'git --help'."
I don't know how to deal with this.

I assumed it was simply a Path or symlink issue but got no where at all trying to understand how they work between `bash`, `npm`, `git` and `commitizen`.

**install**

     you@trykik:~/projects/tryCommitizen$  sudo npm install commitizen -g
     npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
     np

[2016-07-24 23:15] pmcelhaney commented on #225
This is a good idea. It wouldn't be part of the cli though. It would be part of the adapter, e.g., the [conventional changelog adapter](https://github.com/commitizen/cz-conventional-changelog).

You can also create your own adapter pretty easily. That's what I did. I just copied the code from conventional changelog and changed the [scope section](https://github.com/commitizen/cz-conventional-chang

[2016-07-29 14:49] inyono commented on #182
Same here. I'm not yet sure how to handle work in progress using commitizen. Usually, I would just dump my stuff into one (or multiple) and clean up later. But this clean up doesn't seem easy with commitizen (or at least I didn't find an easy way to do this yet, without creating a new branch and applying patches).

[2016-08-01 01:07] jacopotarantino commented on #165
Thanks for the help and sorry it took me so long to get back on this! I have a PR open at https://github.com/commitizen/cz-cli/pull/300. Copied a lot of your reply since it was basically exactly what I was looking for haha. Thanks again!

[2016-08-01 01:07] #165 closed

[2016-08-02 06:12] LinusU opened #303 "Document release process"
@jimthedev I might be missing something obvious, but how do I cut a new release of this package?

The package.json seems to indicate that this is done with some sort of automation, but I don't know how to trigger it...

[2016-08-02 20:12] marionebl commented on #303
@LinusU This appears to be automated via [semantic-release](https://github.com/semantic-release/semantic-release), see [travis](https://travis-ci.org/commitizen/cz-cli/jobs/149094918#L510). As the linked build line indicates, semantic-release expects a commit of type `fix` or `feat` or with a body/footer containing `BREAKING CHANGE: lorem ipsum` before creating a new release automatically.

[2016-08-02 20:18] marionebl commented on #57
I'd throw [conventional-changelog-lint](https://github.com/marionebl/conventional-changelog-lint) into the ring and be happy to create a PR for it. Interested?

[2016-08-02 20:25] marionebl commented on #161
Could this be adressed by a `See also` section in readme.md like e.g [conventional-changelog/conventional-changelog](https://github.com/conventional-changelog/conventional-changelog#related)?

[2016-08-02 20:30] marionebl commented on #162
This should be fixed via https://github.com/commitizen/cz-cli/pull/256

[2016-08-02 20:38] marionebl commented on #286
Should be addressed with https://github.com/commitizen/cz-cli/commit/0d4e0d591cba474ae451ea53c9db9768257e202b as `gulp-git` no longer is a dependency

[2016-08-03 07:27] LinusU commented on #161
That could be a good idea 👍

The way I ended up solving it was to let my adapter have a "bin" field in the package.json that exposed a small verify command. Since it's already included in my devDependencies it was easy to add it to my test script.

e.g.

[code]

[2016-08-03 07:34] #303 closed

[2016-08-03 08:46] LinusU commented on #286
Please reopen if problem persists

[2016-08-03 08:46] #286 closed

[2016-08-03 08:46] LinusU commented on #162
Please reopen if problem persists

[2016-08-03 08:46] #162 closed

[2016-08-03 08:47] #266 closed

[2016-08-03 19:33] #187 closed

[2016-08-04 19:11] jaylaw81 opened #308 "git-cz.js throwing error. Commit still goes through"
Getting the following error after running git cz. version commitizen@2.8.4

[code]

Commit seems to go through, however error doesn't provide much more details.

[2016-08-05 06:04] LinusU commented on #308
Hmm, that's no good... Ping @marionebl

[2016-08-05 06:22] marionebl commented on #308
@jaylaw81 could you provide more details?

- OS
- node and npm version
- exact command executed
- complete error printout

[2016-08-05 07:39] brandonpayton commented on #308
@marionebl I am seeing the same thing. My info is below. It doesn't look too helpful though. I have to call it a night, but if I have time later, I'll make the change locally to include `stderr` and look for more info.

* OS: OS X El Capitan (10.11.6)
* node: v6.3.1
* npm: 3.10.3
* adapter: cz-conventional-changelog
* command: simply `git-cz`

Error output:
[code]

[2016-08-05 08:04] brandonpayton commented on #308
One more bit of info: I experience the error with 2.8.4 and 2.8.3 but not with 2.8.2. Since 2.8.3 contains [a single error-related fix](https://github.com/commitizen/cz-cli/commit/0d70197f), it seems likely the issue was introduced there.

[2016-08-05 08:06] marionebl commented on #308
@brandonpayton Thanks for the enhanced bug report, debugging this right now

[2016-08-05 08:19] marionebl commented on #308
Ok, so this is what happend. With https://github.com/commitizen/cz-cli/commit/0d4e0d591cba474ae451ea53c9db9768257e202b#diff-23495cac1ee02ad0f5c48671e7498c16R69 I added nodeback error handling to the `commit` callback passed to commitizen adapters.

This was an error on my part – because the current, implicit contract between adapters and `commitizen` for the `commit` callback is `(commitMessage) =

[2016-08-06 10:20] #308 closed

[2016-08-09 19:49] RichardIvan opened #320 "commitzen init does not finish"
I tried to run

`commitizen init cz-conventional-changelog --save-dev --save-exact`

`root@283878d76960:/app# commitizen init cz-conventional-changelog --save-dev --save-exact`
`Attempting to initialize using the npm package cz-conventional-changelog`
`npm WARN optional Skipping failed optional dependency /chokidar/fsevents:`
`npm WARN notsup Not compatible with your operating system or architectu

[2016-08-09 20:18] RichardIvan commented on #320
after adding --force option the output is now

`<--- Last few GCs --->`

`  639713 ms: Mark-sweep 471.7 (1434.5) -> 471.6 (1434.5) MB, 1295.7 / 0 ms [allocation failure] [GC in old space requested].`
`  641037 ms: Mark-sweep 471.6 (1434.5) -> 471.6 (1434.5) MB, 1324.4 / 0 ms [allocation failure] [GC in old space requested].`
`  642542 ms: Mark-sweep 471.6 (1434.5) -> 471.6 (1434.5) MB, 1505.1 / 0

[2016-08-13 16:11] pmcelhaney commented on #320
What versions of Node an NPM do you have?

[2016-08-13 16:19] pmcelhaney commented on #289
I'm not an expert on where npm puts things, but something I noticed is you have `export PATH=~/npm/bin:$PATH` but the symlink was created at `/home/you/.npm/bin/git-cz`. There's a "." before npm. Try changing that in your .profile file.

If that doesn't work, you might have more luck on superuser.com.

[2016-08-13 17:48] martinhbramwell commented on #289
That's very astute.  Thank you.

I have since killed the VM I was using to try that.  I believe ´NodeJS´ and ´npm´ were installed on it using ´apt´.

I am now on a different VM, where I know I installed ´NodeJS´ and ´npm´ with ´nvm´.

Now I have no problem at all.

[2016-08-14 08:54] tomasky opened #324 "catch some error when i upgrade the version to 2.8.5"
Just a non node project:

Error: Could not locate node_modules in your project's root directory. Did you forget to npm init or npm install?
path.js:7
    throw new TypeError('Path must be a string. Received ' + inspect(path));
    ^

TypeError: Path must be a string. Received undefined

[2016-08-14 09:22] tomasky commented on #324
I have configed  the `~/.czrc`  and it is ok before upgrading.

[2016-08-14 13:21] LinusU commented on #320
Seems like you ran out of memory?

[2016-08-14 13:23] LinusU commented on #324
Oh, this is probably because of #292, sorry about that.

@pmcelhaney how do you think that we should solve this?

[2016-08-14 13:25] LinusU commented on #289
I believe that @pmcelhaney's solution is probably the correct one, please feel free to reopen if you have problems with it...

[2016-08-14 13:25] #289 closed

[2016-08-14 13:46] pmcelhaney commented on #324
We should consider the git root as the project's root directory.

[code]

[2016-08-14 14:18] LinusU commented on #324
Sounds perfect 👍 would you like to submit a pull request?

[2016-08-14 15:34] pmcelhaney commented on #324
Sure, I'll do it tomorrow when I'm back in front of my computer.

[2016-08-14 15:35] adjohnson916 opened #326 "Integrate adapter types with validate-commit-msg"
It'd be nice if we integrate with [validate-commit-msg](https://github.com/kentcdodds/validate-commit-msg) so that it could use the same types as our chosen adapter.

Recently when working on separating the engine from the types in commitizen/cz-conventional-changelog#30 for commitizen/cz-conventional-changelog#29, I'd also proposed a new config for just types module (not just adapter module) in h

[2016-08-14 19:02] jimthedev commented on #320
@RichardIvan What size droplet are you on? There are some known issues with npm install running out of memory on low memory droplets (specifically 1GB and lower).

[2016-08-14 19:06] jimthedev commented on #178
@sarbbottam Seems like a good idea. I'm open to it. If you can get a PR landed in Inquirer then I'd be open to this.

[2016-08-14 19:10] jimthedev commented on #240
What if we just make our config a dot file like proposed in: https://github.com/commitizen/cz-cli/pull/183?

At least then it would be hidden. I want to make sure whatever solution we come up with, it works on windows.

[2016-08-14 19:23] kentcdodds commented on #326
seems like a good idea, but honestly, I'm not really interested in making first-class integration between these two modules. I think that another module could wire these things together and I'd be happy to expose the right hooks to make that happen.

[2016-08-14 23:18] adjohnson916 commented on #326
@kentcdodds What type of hooks are you thinking? Could validate-commit-msg read from a config in package.json that could be shared by multiple modules?

[2016-08-16 06:26] #324 closed

[2016-08-16 06:35] LinusU commented on #324
Fixed in 2.8.6, @tomasky can you confirm that it works?

[2016-08-17 14:38] pixelass opened #329 "Example is false"
The following example in the readme is wrong

[code]

[code]

should be

[code]

[2016-08-17 14:40] LinusU commented on #329
Pull request welcome 🎉

[2016-08-17 15:00] pixelass commented on #329
as soon as I get home 🤓

On Aug 17, 2016 4:40 PM, "Linus Unnebäck" <notifications@github.com> wrote:

[2016-08-18 08:22] #329 closed

[2016-08-18 18:04] jimthedev commented on #226
10 is no longer supported and @LinusU added the engines tag so I am closing this. Thanks!

[2016-08-18 18:04] #226 closed

[2016-08-23 03:43] kentcdodds commented on #326
Honestly, I'm not really interested in maintaining `validate-commit-msg` to do too much more than it's doing now. If you want to make a PR and it looks good, I'll give you commit/publish access and you can own it to do whatever you want. :)

[2016-08-23 14:48] #326 closed

[2016-08-24 20:21] xetra11 commented on #125
As I tried to init my repo with commitizen I got following message:

`Attempting to initialize using the npm package cz-conventional-changelog
Error: ReferenceError: Map is not defined
`
npm -v // 1.3.10

can anybody guide me to get this to work? really love it!

[2016-08-24 21:29] jimthedev commented on #125
@xetra11 What version of Node are you using? You can find this by running `node -v`.
I do not know how version 1.3.10 of npm would work with commitizen. Please upgrade to at least the latest version of 2 or ideally version 3.

[2016-08-25 06:28] xetra11 commented on #125
@jimthedev sorry dude I've mistaken node with npm so I was updating npm all the time ;)

[2016-08-29 13:00] racer1988 opened #339 "Configure commitizen.json location - MacOS"
As https://github.com/commitizen/cz-cli/issues/240 states, the commitizen.json is saved in the home folder, which is quite annoying.

I have not found any way to change that.

If there is just a configuration to set, it would be interesting to write a README section about it.

[2016-08-29 13:40] jimthedev commented on #339
@racer1988 Can you expand on what is annoying about the file being in the home directory? The current leaning is to move commitizen.json into .commitizen.json so that it is hidden. Is there some other use case where it should be in the node_modules folder instead?

[2016-08-29 14:27] racer1988 commented on #339
It is fine also to add the dot in front so it will be hidden.

**However** to avoid future changes again, I would tend to think we align to many other command line tools by creating a **folder called .commitizen** and add the cache file inside.

This way we can use the folder for many more configuration if needed.

(examples of config/cache folders are .subversion, .config for git, .iterm2, .vim,

[2016-09-13 16:30] tunnckoCore opened #341 "try to load `cz-conventional-changelog` by default"
Load it by default, without the need for config, which currently is

[code]

which i believe it should be handled by the cli. it is so trival and basic stuff. and hance, it is "path", i think it would make more sense to be `preset` and try to load this preset automagically.

What i suggest? It should try to load from local (cwd) node_modules, then try to load from global.

[2016-09-26 09:28] linxiaowu66 commented on #8
@jimthedev  Hi,
I had read your posts, and I still can not know how can i output the ghooks log to stdout ?

Can you help me ?

[2016-09-29 08:32] Mouvedia commented on #10
Both are closed.

[2016-10-28 10:43] brokenmass opened #373 "Empty lines in commit message"
If a commit message generated by a prompter contains new lines (`\n`) , commitizen split those across multiple `-m` commands generating erroneous empty lines in the comment
https://github.com/commitizen/cz-cli/blob/master/src/git/commit.js#L17

original message (and expected result)

[code]

gets committed as :

[code]

this issue occurred from version 2.8.3 where gulp-git was removed.
on version

[2016-10-28 21:31] ellerbrock opened #374 "vulnerable dependencies"
- [npm:minimatch:20160620](https://snyk.io/vuln/npm:minimatch:20160620)

[2016-11-01 10:20] tuky opened #376 "Command line option -a not supported"
The readme says, that all commit options are supported, especially `-a`. But especially `-a` is **not** supported. Running `git cz -a` first adds all files and then executes the commit with `-a`. This will mess up repos, if you don't know that (and how could you know?).

[2016-11-02 20:57] scamden opened #381 "support typing the commit type as well as arrow keys"
not sure if there already is some way to do this, but i would find it more convenient if i could type the commit type manually and have it either filter the list of options or simply validate what i enter before letting me move on.

[2016-11-04 06:29] tunnckoCore opened #382 "Version 2.8.6 not found in node 0.10"
Actually I don't care so much about node 0.10, but something is messed and wrong with that package.

In travis, highest version available is 2.8.1, so.. Node 0.10 is dropped without semantic versioning or what?
There's no changelog too.

And finally, is there any quick fix for that? Which is latest version available for node 0.10. Because Im using commitizen in my latest packages from last two-thr

[2016-11-04 06:53] tunnckoCore commented on #382
Just to inform.. yea it work with locking `~2.7.0`, possibly 2.8.1 will work too, but want guarantees.

In anyway, something is messed with versions after `2.8.1`

[2016-11-04 11:03] safareli opened #383 "git cz fails on node v7.0.0"
[code]
I'm using latest version
[code]

[2016-11-04 11:06] jimthedev commented on #383
Do you have node installed with homebrew or nvm? Looks like others are experiencing a similar issue: https://github.com/nodejs/node/issues/9377

Might have to blow away the node_modules folder?

[2016-11-04 11:13] jimthedev commented on #382
You are correct. Node 0.10 support was dropped without a major version bump, which was a mistake and has been discussed in other issues. Again, my apologies for that miscommunication.

Now, let's talk about Node.js 0.10. It has not been supported by commitizen for over a year. Also AWS lamda just retired it as well. Apologies if you're stuck on it but node 7 is now out along with several LTS relea

[2016-11-04 11:17] jimthedev commented on #381
@scamden thanks for the suggestion.  So, you're looking for something that gives you green/red indicator to see if it passed the requirements set by the project? I like this idea but it is most likely different from the goals of this project since we're really centered around the idea of having fields for each thing that you have to fill in rather than making you guess or already be familiar with

[2016-11-04 12:01] LinusU commented on #383
A clean reinstall fixed this issue for me

[2016-11-04 12:03] LinusU commented on #382
Breaking without a major bump was absolutely unfortunate. But now that the damage is done I think that we should move forward without support (unless someone contribs a patch) since Node.js 0.10 is officially unsupported since a few days ago...

[2016-11-04 13:04] safareli commented on #383
thanks for pointing to write direction i have just updated node and that was the issue i have removed node_modules (local global) uninstalled node and installed it again

[2016-11-04 13:04] #383 closed

[2016-11-04 15:05] tunnckoCore commented on #382
Yea I understand and you're right about 0.10. I and all around me uses at least v4 if not latest, but i'm just a fan of "if it make sense and is reasonable enough". Some packages are written in few lines of code and in good ol' js - few code lines that will always will work for old javascript, they will work forever. That's my view and reason why i "support" node 0.10 in few places (without adding

[2016-11-05 20:49] scamden commented on #381
hey @jimthedev, i love that commitizen educates me about the available options, but after a while  i've become so familiar with the list of options that it would be faster for me to type one that's farther down the list than to press the arrow key like 7 times for example. you could just do quick prefix filtering on the supplied types. so for example  when i type `f`,  `feat` and `fix` comes up in

[2016-11-14 16:13] nmaggioni commented on #102
I'm seconding this, commitizen is the perfect fit for many non-Node projects as well.

[2016-11-14 20:29] jimthedev commented on #102
@adoyle-h You can use a .czrc file.

[2016-11-18 08:57] vass-david opened #391 "Change request: README "(add sudo if on OSX/Linux)" part"
It's not OK to encourage somebody to use sudo for installing global packages.
Installing anything with `sudo` is generally not recommended even by npm itself. User should set `prefix` parameter in local `.npmrc` to some local path (e.g. `/Users/yourusername/.npm`). Then you don't have to use sudo, since all global packages will be installed in your local folder.

I know it's not anything `cz-cli`

[2016-11-21 10:39] LinusU commented on #391
Agreed, PR welcome 👍

[2016-11-25 10:36] timzaak opened #395 "how could I use git cz with git merge?"
when I merge a request. I use `git merge --no-ff branch`, then the terminal will show vim and some messages about this commit. how could I integrate git cz with git merge?

[2016-11-28 21:05] vass-david commented on #391
https://github.com/commitizen/cz-cli/pull/396

[2016-11-29 09:39] #391 closed

[2016-11-29 12:38] rochdev commented on #102
`.czrc` file doesn't seem to work in the project root though. Even for node projects I would rather not pollute my `package.json`

[2016-12-11 09:39] tunnckoCore opened #398 ""Longer description" and "List any breaking changes" to support multilines"
Or at least one of them.

I'm talking for the CLI interface. And only when two empty new lines, then to finish it. I find it pretty weird if I want to list few things and I am forced to list them in "one line", so i separated my things and thoughts with ";".

[2016-12-11 16:00] tonytonyjan opened #399 "What does --save-exact really does?"
With commitizen@2.8.6, It doesn't make any difference:

[code]

[code]

[2016-12-11 16:07] tonytonyjan commented on #399
However it works with `npm` command:

[code]

[2016-12-13 13:26] jimthedev opened #401 "Travis builds broken Error: Command failed: /bin/sh -c git log fatal: bad default revision 'HEAD'"
We are getting errors in Travis in the commit tests. Looks like the problem might be reading the git logs or with commits. Might have been a git config change on travis.

https://travis-ci.org/commitizen/cz-cli/jobs/183566039

I have a branch here: https://github.com/commitizen/cz-cli/tree/ci-issues-with-commits

[2016-12-14 22:59] #401 closed

[2016-12-15 10:37] #240 closed

[2016-12-15 10:38] jimthedev commented on #395
Good question. I'll look to see if this is possible.

[2016-12-15 10:43] jimthedev commented on #395
Also, I will say that generally speaking, we don't want merge messages in the history. We want to try to maintain as linear a git history as possible and so we end up using personal forks + rebase squash since it keeps the history cleaner. This isn't important to everyone so I'll look into if we can set `GIT_EDITOR=git cz-merge` or something for only the runtime of the command.

[2016-12-15 11:10] jimthedev commented on #382
Great! Glad you found a fix.

[2016-12-15 11:10] #382 closed

[2016-12-15 11:13] jimthedev commented on #341
I understand your idea but ultimately we have people using many adapters, not just cz-conventional-changelog so we can't just assume they want to use this commit scheme. Instead we've integrated the ability to install a global for projects without a config. I'd be open to hearing about how we could make the commitizen init command more helpful but at the moment it adds this config for you so it re

[2016-12-15 11:14] jimthedev commented on #341
Not saying we won't fix, but we'd need a PR that shows this functionality so that others could test it out for breaking changes.

[2016-12-15 11:39] jimthedev commented on #339
Closed by #400. You can now delete the commitizen.json. We might need to add a command line alert if this file is found that it is now safe to delete that file.

[2016-12-15 11:39] #339 closed

[2016-12-15 11:45] tunnckoCore commented on #341
they still will be able to set/use other adapters, im talking to be default if no config anywhere. think for it as just `gulp` instead gulp default, it just not make sense.

[2016-12-15 22:39] jimthedev commented on #249
Getting rid of inquirer will get rid of 7.1MB rxjs dependency which inquirer relies on.  The adapters will still bring it in if they need it of course.

[2016-12-16 01:53] timzaak commented on #395
@jimthedev  thanks.

[2016-12-16 15:38] jimthedev commented on #395
Looks like we might be able to work on this. Currently if you're working on a merge, you resolve the issues and you try to commit during the merge with this:

[code]

then you get this:

[code]

Which actually makes sense because you can see that it is adding the filename on the end of the commit message. We probably need a something to look for .git/COMMIT_EDITMSG and modify the command to strip

[2016-12-16 15:58] jimthedev commented on #395
One way to do this is to have multiple targets for a commitizen commit. Right now we really just have one target which is running a commit using git commit. We need a second target which takes an adapter's output and writes it to a file. Specifically in this case to .git/COMMIT_EDITMSG.

[2016-12-16 18:33] ryanvanoss opened #403 "Support for scoped adapters?"
Currently the [`resolveAdapterPath`](https://github.com/commitizen/cz-cli/blob/master/src/commitizen/adapter.js#L128) uses Node's `path.parse` method, and examines the `dir` property to determine if the adapter path is an npm module name, or a path.

[adapter.js:129-131](https://github.com/commitizen/cz-cli/blob/master/src/commitizen/adapter.js#L129-L131)
[code]

However, this will incorrectly ass

[2016-12-18 20:31] jimthedev commented on #403
It hasn't be brought up yet but yes we will need a fix for this.

[2016-12-18 21:22] jimthedev commented on #403
Patch for this is coming.

[2016-12-18 23:00] #403 closed

[2016-12-18 23:10] jimthedev commented on #403
Release will happen as soon as I can get CI to work.

[2016-12-19 01:51] ryanvanoss commented on #403
Good stuff, thanks!

[2016-12-19 01:53] jimthedev commented on #403
Released in https://github.com/commitizen/cz-cli/releases/tag/v2.9.1

[2016-12-19 07:55] #211 closed

[2016-12-26 15:01] jimthedev opened #407 "Warn users when a the cli or an adapter is out of date"
Now CLI does this and it is quite helpful. This is the file that makes it happen in now.

https://github.com/zeit/now-cli/blob/f0b0e23ce756c89f8c17ea011092bb5f82aaea64/lib/check-update.js

We could warn for either a cli out of date or adapter out of date.

[2016-12-28 17:41] LinusU commented on #407
This would be awesome, I know there is a package that I've used multiple times, but the name escapes me at the moment 🤔

[2017-01-02 15:22] jimthedev opened #410 "Migrate from ghooks [deprecated] to husky?"
https://github.com/gtramontina/ghooks is deprecated. We should probably switch to husky. https://www.npmjs.com/package/husky

[2017-01-06 11:14] brokenmass commented on #373
any updates on this issue ?

[2017-01-06 15:51] jimthedev commented on #373
Thanks I'll look into this.

[2017-01-06 18:29] #373 closed

[2017-01-06 18:30] jimthedev commented on #373
Ok I think this takes care of it. We need to wait until the CI tests run, but I'll ask you to check on it once the next version is out.

[2017-01-06 19:03] jimthedev opened #411 "Failing windows multiline tests"
Unfortunately our last release broke windows multiline messages (or at least the tests).

https://ci.appveyor.com/project/jimthedev/cz-cli/build/1.0.4780

[2017-01-08 15:32] LinusU commented on #407
This was the one I was thinking about :) https://github.com/yeoman/update-notifier

[2017-01-08 16:51] #411 closed

[2017-01-08 18:08] LinusU opened #415 "Drop support for Node.js 0.12"
Node.js 0.12 is officially unsupported and we should drop support in the next major version

related: #414

[2017-01-09 02:26] jimthedev commented on #410
@LinusU this can also probably go into 3.0 as well.

[2017-01-09 02:28] jimthedev commented on #407
That looks pretty good. Seems like we could get this working for both the cli and adapters.

[2017-01-09 02:39] jimthedev commented on #398
I understand what you're asking for.

We actually do support this. You can fork the cz-conventional-changelog adapter and change the fields you want to be editor fields instead of input. This would allow you to type multiline input for that fields.  You can read more about inquirer's editor field here: https://github.com/SBoudrias/Inquirer.js/

[2017-01-09 02:39] #398 closed

[2017-01-09 07:47] LinusU commented on #410
Sounds good 👌

[2017-01-09 15:27] jimthedev commented on #415
Closed by d0772db02fa7b05a0b1c16a40a50565167b8e915, right @LinusU?

[2017-01-09 15:29] jimthedev commented on #38
Closed by 3a3d10d52060b339b3108b5da61f90ba10b987a2, right @LinusU?

[2017-01-09 15:40] jimthedev commented on #249
Added to 4.0.0 milestone based on this discussion: https://github.com/commitizen/cz-cli/pull/414#issuecomment-271174081

[2017-01-09 16:51] LinusU commented on #38
Yes, I didn't know it I should close it now or when we merge v3.x into master :) up to you 👌

[2017-01-09 16:51] LinusU commented on #415
Yes, should we close now or when merging v3.x to master?

[2017-01-09 19:04] jimthedev commented on #410
@LinusU I merged this into 3.x. Assuming tests pass, it should be ready to go.

For reference, there are a few steps we need to take for husky to take over from ghooks.

[code]

[2017-01-09 19:59] jimthedev commented on #415
When we merge into master.

[2017-01-09 20:41] jimthedev commented on #410
Tests passed. GTG.

[2017-01-09 20:42] jimthedev commented on #57
@marionebl We are looking for these both to be in 3.0. If we can't get them done, then for 4. Let me know if you're interested in working on a PR and if so, which release you'd like it to be in.

Thanks!

[2017-01-09 20:56] jimthedev commented on #24
@mcwhittemore

Per number 1 we are very strict to use semver for the prompter api so if there are ever changes to that function's api, we'll release a major version of the cli. Starting in version 3 we're going to pass more info to the adapters so that they can make more informed decisions. One of the things we'll be passing is the version number of commitizen that is running the adapter. From the

[2017-01-09 21:10] jimthedev opened #418 "commitizen init fails when commitizen is installed with -g"
Installing commitizen globally using the steps in the documentation as shown here

[code]

Prevents you from being able to run `commitizen init --save-dev cz-conventional-changelog` in a brand new npm project.

[code]

Actually running `commitizen init --save-exact --save-dev cz-conventional-changelog --force` results in:

[code]

I think this is because when running init we need to assume that th

[2017-01-10 22:22] jimthedev commented on #415
@LinusU fwi I've added this and other issues to an organization-wide project here: https://github.com/orgs/commitizen/projects/1

You don't need to use it but I wanted you to know it exists.

[2017-01-11 05:46] LinusU commented on #415
Nice!

[2017-02-14 03:08] zfha opened #420 "npm install -g commitizen Unexpected token < in JSON at position 1"
npm install -g commitizen
error:
[code]
How to solve it ?

[2017-02-14 06:31] LinusU commented on #420
It seems like you are using something called "Nexus Repository Manager" instead of using the regular npm registry 🤔

[2017-02-14 06:50] zfha commented on #420
Yeah！Tks，I ever set the npm registry！

[2017-02-14 06:50] #420 closed

[2017-02-17 23:54] foxhound87 opened #422 "unable to commit after update to 2.9.6"
I got:

Error: No files added to staging! Did you forget to run git add?

After downgrading to 2.9.5 it worked.

[2017-02-21 17:32] jimthedev commented on #422
@foxhound87 can you try again? I've tried it with 2.9.6 and it works. Are you sure you didn't just forget to run `git add .`?

[2017-02-21 17:33] jimthedev commented on #422
Additionally if you can provide OS, Git version, adapter and version, node version that would be helpful. Thanks!

[2017-02-23 02:56] jpnelson opened #423 "Typeahead for the radio selections"
This would speed up committing time heaps for me, due to the way our adapters work.

Happy to make a PR for this if it would be accepted.

[2017-02-23 03:09] jpnelson commented on #423
https://github.com/SBoudrias/Inquirer.js/issues/505

[2017-02-23 08:57] LinusU commented on #423
This would be awesome, let's follow the development of the issue at Inquirer.js

[2017-02-23 13:27] gunnx opened #424 "Issue with entry script version"
Following the guide in: https://github.com/commitizen/cz-cli#1-create-your-own-entry-point-script

It works when using `npm link` but when I install from npm it throws the following error.
It looks like its trying to read a package.json that is nested under my custom-commit package but commitizen package is directly under node_modules not my package.

[code]

custom-commmit/cli.js
[code]

@mycompa

[2017-02-23 21:59] jpnelson commented on #423
Looks like it's a no-go for addition to inquirer, but https://github.com/mokkabonna/inquirer-autocomplete-prompt could be added to cz-cli.

What do you think about that?

[2017-02-23 22:07] jimthedev commented on #423
Each adapter requires their own prompter so it would be a PR to
cz-conventional-changelog but I'd imagine that we'd consider it.

--
Jim ForCy

On February 23, 2017 at 3:59:45 PM, Joshua Nelson (notifications@github.com)
wrote:

[2017-03-11 23:08] axefrog opened #425 "Why is feat abbreviated, when refactor is not?"
You're not abbreviating "refactor", and "feature" is shorter anyway. Why abbreviate only the latter?

[2017-03-11 23:15] jimthedev commented on #425
Good question :) you'll have to ask Google, they wrote the original set.
Now a bunch of the ecosystem is built on it.

--
Jim ForCy

On March 11, 2017 at 5:08:50 PM, Nathan Ridley (notifications@github.com)
wrote:

[2017-03-11 23:39] axefrog commented on #425
Dang. Well I'm out. I'll build my own :D

[2017-03-11 23:39] #425 closed

[2017-03-11 23:50] jimthedev commented on #425
Good luck! You can make an adapter but you may need to check to see how
semantic release and other tool chains respond.

--
Jim ForCy

On March 11, 2017 at 5:39:39 PM, Nathan Ridley (notifications@github.com)
wrote:

[2017-03-12 00:05] axefrog commented on #425
Ah, this is just for my own projects. I don't expect others to necessarily follow suit.

[2017-03-13 04:31] travi commented on #178
@sarbbottam are you still planning to put a PR together for SBoudrias/Inquirer.js#359 to enable this?

I think it would be a very valuable enhancement to `cz-cli` to change the color after 50 characters for a "recommended" length and to change it again or prevent typing at the point the short description would be truncated.

My team has been surprised many times where their messages are truncated

[2017-03-14 20:39] sarbbottam commented on #178
@travi I have been busy, feel free to take it up.

[2017-03-14 20:59] travi commented on #178
thanks for the update. i'm not sure when i will get a chance to do it, but i will keep it in mind. please feel free if you get a chance before me.

[2017-03-17 17:20] Mbmaldon commented on #217
Hi i have problem with this error, (node:9112) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.

[2017-03-20 21:39] danoc opened #426 "Small typo in README: "changlog""
Hello! Here's a tiny issue in the README:

Should be:

[2017-03-21 08:30] LinusU commented on #426
Pull request welcome :)

[2017-03-22 08:15] #426 closed

[2017-03-28 05:36] chriskevin commented on #422
I think I am having the same issue on Ubuntu 14.04 LTS.

- Have run `git add  .`
- Then I call `git-cz` using the cz-jira-smart-commit adapter.
- I provide all mandatory info in the prompt.
- Result is that files are still staged and no commit was created.

[2017-04-21 07:28] Sibiraj-Codes opened #429 "committed unstaged files"
recently I started using commitizen. I had three files edited. staged two files. then ran git cz but my unstaged files also committed :(

[2017-04-21 14:02] #429 closed

[2017-04-21 14:03] Sibiraj-Codes commented on #429
I gave the wrong configuration in package.json . fixed it. now it is working fine. Sorry for wrong issue post

[2017-04-24 12:34] liberium opened #430 "How to disable pre-commit hooks?"
I use `lint-staged` with `husky`. When I do `yarn commit`, hooks are run twice: first by `lint-staged`, then by `git-cz`. Is there an option to make `git-cz` not to run hooks?
[code]

[2017-04-26 03:16] krishna63 opened #431 "How to configure commitzen.json"
Hi Team,

I have installed commitizen and intialized the conventional log adapter and now i have two requirements, not sure how to acheive it please help me out

I want to make the description also required field then how should do that ?
I want to specify the length of the description to 72 characters ?

Regarding configuration
I have not installed commitizen globally so when ever i want to run t

[2017-04-27 16:18] huy-nguyen commented on #395
When I merge from a feature branch into `develop`/`master`, it'd be great to have the merge commit message be automatically populated with all the commit headers from the feature branch (sort of like a mini change log).

[2017-05-02 08:42] faceyspacey opened #432 "precommit runs twice when using husky"
Here's my relevant `package.json`:
[code]

`lint-staged` is *correctly* called once ***before*** the `commitizen` command line form appears, and then *incorrectly* `husky - npm run -s precommit` is run ***after***. Typically without `commitizen` only `lint-staged` is called. Somehow `commitizen` is triggering `husky` to be called. No where do I have this script: `npm run -s precommit`. It seems `c

[2017-05-02 12:36] jimthedev commented on #432
Can you post what your workflow looks like without commitizen in the mix
including when and how you run git add and git commit in this configuration?

--
Jim ForCy

On May 2, 2017 at 3:42:08 AM, James Gillmore (notifications@github.com)
wrote:

[2017-05-02 16:22] huy-nguyen commented on #395
In case anyone has the same use case that I mentioned above, it turns out you can do it with [`git merge --log=1000`](https://git-scm.com/docs/git-merge#git-merge---logltngt). For example, if you're merging from `feature` branch into `develop`, the merge commit message will be pre-populated with all commit headers from `feature`. If you've been using `commitizen` on your `feature` branch, the comm

[2017-05-03 00:03] faceyspacey commented on #432
I simply call `git add`, and `git commit`. The `precommit` script thanks to husky will run `lint-staged`. So you will see `husky - npm run -s precommit` run in the terminal.

Whereas if you run `npm run commit` for the first commit log you see:

[code]

Basically it seems 2 different versions of `precommit` are being run when commitizen is used, as they are logged with different messages.

[2017-05-03 00:05] faceyspacey commented on #432
Here's a package you can clone and immediately see it in action:

https://github.com/faceyspacey/redux-first-router

[2017-05-09 17:47] jimthedev commented on #431
Hi @krishna63. Right now if you want to make changes to the adapter config (required fields, length of characters) then you'd need to fork the adapter, publish it to github, then initialize commitizen to point at your fork. We make it hard for you because we don't want to maintain the many many permutations that people want out of their config. We could never manage all of these so if you'd like t

[2017-05-09 17:50] jimthedev commented on #430
You can skip git hooks with `git cz --no-verify`

[2017-05-09 18:37] jimthedev commented on #432
That is a [bug in husky](https://github.com/typicode/husky/issues/99) that happens due to a "feature" of npm-scripts that auto run scripts with the name prexxx where xxx is the name of another script. So, because you're using `commit` and `precommit` it is running them twice.

Until husky fixes this you can simply change your commitizen task to `cmt` or something else (`cz`, `co`, etc).

We could

[2017-05-09 18:39] jimthedev commented on #422
@chriskevin that is strange. Which version of the adapter are you on?

[2017-05-09 18:41] jimthedev commented on #423
Looks like inquirer is going to let plugins handle this. I prefer to do the same for now. Again, if you can get it working I'd certainly accept a PR in cz-conventional-changelog or any of the other adapters.

[2017-05-09 18:41] #423 closed

[2017-05-09 18:44] jimthedev commented on #424
Do you have it installed globally?

[2017-05-09 18:49] jimthedev commented on #430
Alternatively if you are running it from an npm task you can use `npm run cz -- --no-verify` which will still run commitizen but not the precommit hooks. Of course here I am assuming that your commitizen npm script is called `cz`

[2017-05-09 18:49] #430 closed

[2017-05-09 18:49] #431 closed

[2017-05-10 04:34] faceyspacey commented on #432
nice find!

Here's the PR as requested: https://github.com/commitizen/cz-cli/pull/433

[2017-05-10 04:34] #432 closed

[2017-05-11 15:04] brandondurham opened #434 "Possible to use multiple adapters?"
I’m using `cz-conventional-changelog` but would also love to use `cz-customizable` to allow for creating custom types. Is it possible to use both alongside each other?

This is my `package.json` config currently:
[code]

[2017-05-11 15:28] brandondurham commented on #434
I now realize `cz-customizable` consumes the functionality of `cz-conventional-changelog`, but I suppose the question still stands.

[2017-05-11 15:32] jimthedev commented on #434
It is currently not possible to consume multiple adapters. In a future architecture it would be neat to be able to have composable adapters.

[2017-05-11 15:32] #434 closed

[2017-05-11 15:33] brandondurham commented on #434
Thanks, Jim. I lucked out on this one since one was seemingly a fork of another. 💯

[2017-05-11 15:33] jimthedev commented on #434
You sure did!

[2017-05-12 07:49] yituwangpeng opened #435 "How to do wrap when I write body message,if I press the enter key,it will close the body options..."

[2017-05-12 09:55] jimthedev commented on #435
Try using `\n`

[2017-05-15 07:14] lukaszmoroz opened #436 "Don't throw the error when git-cz fails"
Right now when the command fails, it prints the whole stack trace. Is it really necessary?

[2017-05-15 11:48] jimthedev commented on #436
I'm open to hearing arguments or PRs to improve this functionality. Currently we give you everything because a git hook including test output may have failed and we want you to see which tests failed.

[2017-05-15 11:48] #435 closed

[2017-05-15 13:03] lukaszmoroz commented on #436
It adds a lot of noise and is not very informative. See:

Trying to `git cz` with empty index:
[code]

Combined with a `commit-msg` hook:
[code]

All these errors should be handled IMO and turned into non-zero exit with just the error message printed.

[2017-05-15 13:07] jimthedev commented on #436
Fair enough. Would you be interested in putting in a PR?

--
Jim ForCy

On May 15, 2017 at 8:03:07 AM, Łukasz Moroz (notifications@github.com)
wrote:

[2017-05-15 13:38] lukaszmoroz commented on #436
Sure

[2017-05-22 12:40] naxhh opened #438 "Bootstrap and custom plugin configuration"
Hi everyone.

Our company is using commitizen for our main project but we slowly started using it in smaller projects and tools.

We now require a standard commitizen configuration in order to keep all projects the same way.
Our current solution has a lot of configs and is not working very well for us.

For context we are using:
- Commitizen
- cz-customizable
- validate-commit-msg

Each of this pa

[2017-05-27 09:49] #436 closed

[2017-05-27 10:25] jimthedev commented on #438
Although I haven't confirmed that the code works yet, I like the second option because:

1. a path will always be required for commitizen to work so keeping it as arg1 is good.
2. I prefer to keep userland adapter bootstrap config separate to prevent namespace collisions. This would allow the config to have a property called path (or anything) without having to worry about future prop names that c

[2017-05-27 17:02] naxhh commented on #438
Not sure if I see a case that a promise would be needed, but I can only speak of my case

[2017-05-29 13:17] meszaros-lajos-gyorgy commented on #10
I experience the same on Windows 7 using the git bash from the latest Git install (mintty 2.7.3 x86_64-pc-msys). It works fine in windows cmd.

[2017-06-03 02:22] brandondurham commented on #44
Curious about whether or not this is more attainable now?

[2017-06-05 06:45] colebemis opened #441 "Not showing commit prompt"
I ran `npm install --save-dev commitizen` then added `"cm": "git-cz"` to my npm scripts. When I run `npm run cm` I don't get a the nice prompt guiding me through a commit message. This is what I get instead:
![image](https://cloud.githubusercontent.com/assets/4608155/26773342/c70f53ce-497f-11e7-834e-b115678b90c6.png)

How can I get commitizen to show the prompt?

[2017-06-05 08:05] colebemis commented on #441
Hmm, I'm only having this problem when using the integrated terminal in VSCode.

[2017-06-06 15:46] jimthedev commented on #441
Did you install an adapter?

[2017-06-06 19:11] colebemis commented on #441
It started working. I'm not sure why though 🤔 I didn't change anything.

[2017-06-06 19:11] #441 closed

[2017-06-18 01:13] freemo commented on #102
+1 (x100) :)

This feature worked 6 months ago, somehow however the last 6 months this feature disappeared. I use the following versions and because it still had this feature I could run commitizen without needing a package.json file.

`npm install -g commitizen@2.8.6 cz-customizable@4.0.0`

with those versions all I need is a local .cz.json.js and .cz-config.js file in the root of the project, no

[2017-06-27 18:14] k opened #443 "Show relevant error message when trying to use `git cz` from an inner directory"
I was in a monorepo, and when I used `git cz` it would not tell me why it would not show the *type of change* list, but when I moved to the root of the monorepo it worked. Is there a way to give a relevant error/warning message when running `git cz` outside of the top of the repo?

[2017-06-28 17:03] joefraley commented on #182
@jimthedev re: workflow

I think @inyono and @Calyhre hit the nail on the head. A common workflow for me is:

[code]

[2017-06-29 15:34] derikb commented on #376
Yeah, this one really threw me off, when I just started using commitizen. Very confusing.

[2017-06-29 15:44] derikb commented on #376
For anyone who finds this... the alternative to trying `git cz -a` is:
[code]
That will just add updated/deleted files rather than all untracked files.

[2017-07-03 09:06] pekhota commented on #422
The same for jira plugin

[2017-07-03 09:10] jimthedev commented on #422
Can you please tell me what version of node, Linux, cz you are on?

[2017-07-03 20:40] pekhota commented on #422
"devDependencies": {
    "commitizen": "^2.9.6",
    "cz-conventional-changelog": "^2.0.0",
    "cz-jira-smart-commit": "^2.0.1"
  },
  "scripts": {
    "commit": "git-cz",
    "test": "echo \"Error: no test specified\" && exit 1"
  },

node -v : v6.11.0
OS: macOS Sierra 10.12.3

[2017-07-07 11:34] pekhota commented on #422
any ideas?

[2017-07-07 13:00] jimthedev commented on #422
Hmm. Well you do have two adapters in your devDependencies. Which one do you have defined as your actual adapter?

[2017-07-25 06:46] darrachequesne commented on #45
Hi! We add the need for an IntelliJ integration at work, so we made this really basic plugin: https://plugins.jetbrains.com/plugin/9861-git-commit-template

Source is here: https://github.com/MobileTribe/commit-template-idea-plugin

Open to suggestions!

[2017-08-02 09:10] likun7981 opened #445 "git cz can use all of git"

[2017-08-16 18:25] wcalebgray commented on #10
Seeing this on Windows 10 as well (mintty 2.7.7 x86_64-pc-msys)

[2017-08-22 08:43] eeasss opened #446 "'validate-commit-msg' is not recognized as an internal or external command,"
Hello,

I am receiving the following error in a lerna-enabled-repo:

```'validate-commit-msg' is not recognized as an internal or external command,```

I get the same error in Git for Windows (2.14.1) and Powershell. This looks like a bug to me, as I am not doing anything special. This same configuration works on Posix systems (OSX and Ubuntu).

We use the cz-lerna-changelog adapter. This is the f

[2017-08-22 08:46] #446 closed

[2017-08-22 08:46] eeasss commented on #446
Turned out to be an issue on our end

[2017-09-01 12:00] xetra11 commented on #10
Having this issue, too. CMD and GIT BASH both deny the arrow movement

[2017-09-19 06:42] micky2be opened #448 "Finding a way to use `git commit`"
I think it would be nice to setup a pre-commit hook to run commitizen when running the command `git commit`.

I would personally rather my team use a command they already know than learning a new one.
Make it easier when switching projects.

[2017-09-20 21:30] booc0mtaco opened #449 "Problem using `git cz` in non-node submodule of project"
I have a project with the following configuration on my machine:

- globally-installed commitizen with `.czrc` in `~` using cz-conventional-changelog
- main repo. with package.json set up to use `cz-conventional-changelog`
- a submodule that contains a non-node project (no package.json file)

in the main repo, `git cz` works as one would expect. however, if you try to do work in the submodule dire

[2017-09-25 09:43] dnepro opened #450 "disable "git commit""
Is there a way to disable the usage of "git commit" in a commitizen project?

[2017-09-26 00:27] jimthedev commented on #450
Hi there. There's not a way to disable it `git commit`. You can use an alias or you can reject commits that don't match your schema though. See something like https://github.com/marionebl/commitlint

[2017-09-26 00:33] jimthedev commented on #448
I would consider a PR with this functionality if it included some tests to show that it doesn't break existing tooling. People using commitizen bring a bunch of existing git commit hooks to the table and we'd need some way to still run those hooks and in the correct order with regards to commitizen.

[2017-09-26 00:36] jimthedev commented on #449
Yes, this is tricky because commitizen actually looks up the directory chain for a .git then looks for an installed adapter in package.json. At the moment we don't support submodules in the find config algorithm. I am not opposed to it but it isn't a common enough use-case that we have any existing test cases for it.

[2017-09-26 01:25] micky2be commented on #448
Alright, I'll take a look.

[2017-09-27 02:08] booc0mtaco commented on #449
@jimthedev fair enough. It's a nice-to-have on my current project, so I might take a stab at it myself, and offer a PR :)

[2017-09-27 08:01] dnepro commented on #450
Ok, that sounds also legitimate and i will definitly give it a try :) Thank you for the fast response!

[2017-10-03 11:46] RobbertWolfs opened #451 "git cz triggers git commit instead of git cz prompt messages..."
When trying to install ```npm install -g commitizen``` and running ```git cz```
I get the following screen..

<img width="1543" alt="screen shot 2017-10-03 at 13 44 04" src="https://user-images.githubusercontent.com/12511178/31123675-2a38b632-a841-11e7-8ebd-1f26660d26ac.png">

Instead of

![add-commit](https://user-images.githubusercontent.com/12511178/31123687-3749c1c2-a841-11e7-822e-1b999062e6ef

[2017-10-03 11:48] RobbertWolfs commented on #451
Forgot to create the .czrc in my HOME directory.. ;)

[2017-10-03 11:48] #451 closed

[2017-10-16 08:19] aloisdg opened #452 "Is there someone who is working on a cz Visual Studio extensions?"
Just asking :)

[2017-10-16 09:11] jimthedev commented on #452
https://github.com/KnisterPeter/vscode-commitizen

[2017-10-16 15:47] aloisdg commented on #452
Thank you @jimthedev for the answer, but I meant Visual Studio not Visual Studio Code. They are separate products.

[2017-10-16 15:48] jimthedev commented on #452
Oh sorry, I totally missed that. Thanks for asking. I do not know of one being worked on at the moment. If you would be open to making one that'd be great!

[2017-10-16 15:50] aloisdg commented on #452
I would not be able to give time right now. Maybe later. If someone wants to grasp it, go for it!

[2017-10-18 07:20] BjornMelgaard opened #454 "support -m"
Expected behavior:
[code]
results in filled `Write a short, imperative tense description of the change:`

[2017-11-10 16:31] Rugal opened #459 "Integrate `.czrc` file into `.gitconfig`"
Instead of creating a new `.czrc` file for configuration, can we utilize the existing configuration file `.gitconfig`, so we don't have create an additional file.

Other git related tools like `tig` support this very well.
This can be handy as different tools use their own configuration files might mass up the directory.

[2017-11-15 03:23] zyy7259 opened #460 "support config file"
support `.czrc` or `cz.config.js` config file through https://github.com/davidtheclark/cosmiconfig

[2017-11-23 09:17] bm-stschneider commented on #436
commitizen@2.9.6 this is still in right?

[2017-11-28 16:15] adamchenwei commented on #449
I have this need as well. sad it can't be put in. So what exactly we can do to go around it? Let  say your have a .git inside `/myProject` folder and the actual `package.json` is in `/myProject/anotherSmallProject/` folder?

[2017-12-08 13:42] adamchenwei opened #462 "commitizen got skipped when its inside pre-commit"
Its sort similar but a bit of work around as we do not yet have solution for https://github.com/commitizen/cz-cli/issues/448

I tried to trigger commitizen in pre-commit stage so it override the actual git commit behavior, but when commitizen ui popped up, pre-commit just ran through it instead of pausing at the commitizen step so I can utilize its UI for commit the change.
Is there way we can con

[2017-12-13 21:04] raisedadead commented on #436
@bm-stschneider don.t think so. This was merged by never published? /cc @jimthedev

[2017-12-26 17:32] #450 closed

[2017-12-28 04:54] wmzy opened #463 "Add .nyc_output and .eslintrc to .npmignore"

[2018-01-10 21:28] mowenpark commented on #449
if you add the correct path in your package.json it should work.
i.e.
`"config": {
    "commitizen": {
      "path": "./anotherSmallProject/node_modules/cz-conventional-changelog"
    }
  }`

[2018-01-24 05:37] Kristinita opened #465 "[Question] SyntaxError: Parsing JSON at <path> for commitizen config failed:"
### 1. Summary

I can't begin to use commitizen globally in my Windows.

### 2. Environment

+ Windows 10 Enterprise LTSB 64-bit EN,
+ Node.js 9.4.0,
+ npm 5.6.0.

### 3. Steps to reproduce

[code]

I create a file `.czrc` in `C:\Users\SashaChernykh` directory. It content:

[code]

I run `git cz` command in any my git repository.

### 4. Expected behavior

Successful usage `commitizen`.

### 5. Ac

[2018-01-24 05:47] Kristinita commented on #465
I'm sorry, stupid error.

Valid `.czrc` content is:

[code]

Thanks.

[2018-01-24 05:47] #465 closed

[2018-01-26 10:31] sumaolin opened #466 "window7 software cmder error"
[code]

cmd module is OK

[2018-01-26 14:23] jimthedev commented on #466
Did you forget to git add some files?

[2018-02-03 08:34] rigobauer opened #467 "Can't commit: nvm is not compatible with the "npm_config_prefix" environment variable"
I have a project that was using commitizen without problems. I've decided to add husky to run precommit hooks with prettier. The problem is that when I run the 'npm run cm' command, I get this error...

[code]

I've removed prettier and try just husky and a basic 'npm run test' precommit hook, with the same error.  Obviously, I see the message, but I don't know if running `unset npm_config_prefix`

[2018-02-04 06:32] rigobauer commented on #467
More info...
- Neither $NPM_CONFIG_PREFIX nor $PREFIX are set in my environment.
- I've tried `unset npm_config_prefix`, but with the same results.

[2018-02-04 07:25] rigobauer commented on #467
I've just realized it makes no sense to open this issue here, because looks like the commitizen part is executed, the problem arises when husky tries to run the hook, so I'm moving this to husky.

Sorry for the inconvenience

[2018-02-04 07:25] #467 closed

[2018-02-17 15:05] vinyfc93 commented on #436
## commitizen@2.9.6

[code]

@bm-stschneider, @raisedadead and @jimthedev.

Is this right?

[2018-02-17 15:41] jimthedev commented on #436
Did you run got add myfile.md first?

On February 17, 2018 at 9:05:26 AM, Vinícius Carvalho (
notifications@github.com) wrote:

[2018-02-17 16:06] vinyfc93 commented on #436
Sorry but I do not know this file, where could I find it?

[2018-02-17 16:12] jimthedev commented on #436
No, you would replace that with your file that you want to commit. Or you
could use git add . for all changed files.

--
Jim ForCy

On February 17, 2018 at 10:06:05 AM, Vinícius Carvalho (
notifications@github.com) wrote:

[2018-02-17 16:15] vinyfc93 commented on #436
Sorry but I do not know this file, where could I find it?
If you're talking about adding the file in the git stage, myfile.md being a file from my project, that's not what I'm talking about.
My question has to do with why the exit is not treated to show a more friendly and easy-to-understand message

[2018-02-17 17:07] jimthedev commented on #436
Please see https://github.com/commitizen/cz-cli/issues/436#issuecomment-301452208 which explains that we are open to a PR for better functionality but at the moment we give everything since it is helpful when running in a git hook scenario. I will point out that `Error: No files added to staging! Did you forget to run git add?` is right there. How would you prefer the message to be written? Please

[2018-02-19 20:48] vinyfc93 commented on #436
@jimthedev,

Thanks for explanation and calm, had not seen the explanation above, sorry for this. I will consider creating PR soon enough.

keep up the good work! =]

[2018-03-01 12:43] mickdekkers opened #469 "Consider using npm module name instead of relative path in adapter config generated by commitizen init"
The setup instructions [in the readme][repo-commitizen-friendly] use the module name of the adapter (i.e. `cz-conventional-changelog`), but the actual config generated by `commitizen init` uses a relative path to the module:

https://github.com/commitizen/cz-cli/blob/d5e24245dda078464d8c964f5d052bcad1da14f5/src/commitizen/adapter.js#L35-L41

According to [the readme][repo-commitizen-friendly]:

On

[2018-03-01 14:10] LinusU commented on #469
Yeah, I found this to be quite confusing myself, PR welcome 👍

[2018-03-01 14:16] Pawamoy commented on #376
Agree on this, it has not the same effect as `git commit -a`. If I quit the committing process of `git commit -a`, it leaves without changing anything. If I do while `git cz -a`, files will have been added with `git add`. And not just modified files, every new file as well :confused:.

This is not a desirable behavior. Nothing should be staged if we `Ctrl-C` while `git cz -a`.

[2018-03-01 15:05] jimthedev commented on #469
This change would be breaking. With that said I think we can support this by first checking if the path exists and if not then we see if the npm module exists in either the deps or dev deps. If it does then we can install it as a transient dependency first before running commit.

[2018-03-01 16:25] mickdekkers commented on #469
@jimthedev sounds interesting, what do you mean by "install it as a transient dependency"?

[2018-03-01 17:04] jimthedev commented on #469
@mickdekkers I mean we would run `npm install --no-save cz-my-adapter@1.2.3`.  Effectively we would detect that the npm install hasn't been run yet and would install module. This ensures that the package.json and package lock is not touched but that commitizen could run.

One tricky thing is that npm changed from --save being implied at a certain version of npm so we might have to detect their npm

[2018-03-02 11:09] LinusU commented on #376
Yeah, this seems like a bug to me or at least surprising behavior. PR welcome!

[2018-03-02 11:30] LinusU commented on #469
We are only talking about the generated config here, right? So I'm not sure if it would be considered breaking?

I also don't think we would need to install any dependencies automatically? Although that would potentially also be nice!

[2018-03-05 09:13] mickdekkers commented on #469
@LinusU yeah, that's my proposed solution. I think you may be right; since it only applies to initialization and doesn't affect existing projects, it shouldn't be a breaking change.

[2018-03-08 06:49] coolseaman commented on #465
I made stupid mistakes, too.

[2018-03-12 06:48] HeartUnchange commented on #465
What is the difference?

[2018-03-23 14:56] flyinbutrs opened #473 "Remove stack trace from error when committing without staging files"
When you run `git cz` when there are no files staged, the error message includes a stack trace. The stack trace is unnecessary and makes a known error look like an unexpected failure.

instead of this:
[code]

It should instead look like this:

[code]

[2018-03-23 14:59] flyinbutrs opened #474 "add --help flag"
Running git `cz --help` should include a help message explaining how to use it.

[code]

[2018-03-23 18:39] LinusU commented on #473
👍

I usually have a specific error class for errors that are expected, something like this:

[code]

That way, it's still easy to report errors that are actually a problem with the program, as those will get a full stack trace.

PRs welcome! 🙌

[2018-03-23 18:40] LinusU commented on #474
Absolutely!

PRs welcome 🙌

[2018-03-24 08:27] vxhly opened #475 "About subprojects"
Hello！
My main project is called shop and subproject is called shop-app.
When I run git cz under the subproject shop-app,
The commit url in the created CHANGLOG.md points to the main project but not the subproject.

I expect is :https://gitlab.com/qianqu/shop/shop-app/commit/6cba4ee)
But it became: https://gitlab.com/qianqu/shop/commit/6cba4ee)

The a-tag generated at the head of the file is also

[2018-03-26 06:17] #475 closed

[2018-04-13 22:35] codeNoobie commented on #62
@jimthedev  Is there any plans to add custom scope feature to commitizen?

[2018-04-13 22:52] jimthedev commented on #62
Plans, yes, but no timeline. I’m currently on paternity with our second child. I will accept PRs for this of course.

[2018-04-13 22:53] codeNoobie commented on #62
Oh Great! Congratulations!
I will take a look and will submit a PR if I come up with a good solution.

[2018-04-13 22:55] codeNoobie commented on #62
@leonardoanalista Do you want to merge your changes to cz-conventional-changelog project as mentioned in your previous message?

[2018-04-14 21:09] Poltergeist opened #476 "Respect the --allow-empty git flag in git cz"
Currently, if I run `git cz --allow-empty` I am getting the error `Error: No files added to staging! Did you forget to run git add?` A fix for this could be adding a condition to the if in the `./src/cli/strategies/git-cz.js` on line 55

[code]

I am willing to create a PR for this.

[2018-04-16 00:31] #476 closed

[2018-04-18 09:03] rifler opened #478 "commitizen uses wrong version of cz-conventional-changelog"
In my `package.json`:
[code]

`<projectDir>/.czrc`:
[code]

Then I run `npm run cz` (it is just simply `git-cz`) and get these questions:
[code]
Questions about breaking changes and issues are combined into one, but I googled, that in one of the new releases of `cz-conventional-changelog` this behaviour was changed - https://github.com/commitizen/cz-conventional-changelog/pull/44

Ok, let's grep o

[2018-04-18 09:05] rifler commented on #478
I've also tried `./node_modules/.bin/git-cz` instead of `npm run cz`
[code]

[2018-04-27 07:17] taotaodong527 opened #479 "git cz nothing showup"
Following the installation and use guide， run git cz nothing showed up。 Anything should be checked

[2018-04-27 12:17] botcheddevil commented on #479
Not working for me either, not sure whats missing

[2018-04-27 12:29] botcheddevil commented on #479
Worked! Need to make the repo comittizen friendly!!

@leomvp527 have you tried adding config in `package.json`

`  "config": {
    "commitizen": {
      "path": "cz-conventional-changelog"
    }
  }
`
--

PS: you would also need to install `npm i cz-conventional-changelog`

[2018-05-02 07:40] yanfeipeng commented on #10
window cmd can work, but git bash mintty not
![image](https://user-images.githubusercontent.com/12102322/39511162-0d6eeef2-4e1f-11e8-8c88-de3872f246c5.png)

[2018-05-05 07:05] rigobauer commented on #467
@pedro-mass Yes. You just have to install the beta version of husky (`npm install husky@next --save-dev`). No problems so far.
I hope it helps

[2018-05-11 17:01] plroebuck opened #480 ""No files added" Error not trapped"
<https://github.com/commitizen/cz-cli/blob/40d8dab1649fc10cbcfaed91944936817bb74348/src/cli/strategies/git-cz.js#L56>

If your forget to add files first, you get this:
[code]

This is (for me anyways and expect others as well) a common occurrence, usually from iterating too quickly through my cmdline history. So from my standpoint, a predictable minor error. As such, a stack trace seems a bit much

[2018-05-15 02:17] boxsnake opened #481 "Can not load ` cz-conventional-changelog` in adapter.js"
**Environments:**
OS: Windows 10 (1703, OS 15063.966)
Terminal: cmd
Project Path: `E:\PHPSite\Github\boxsnake-php\simple-api-ssr`

**package.json:**
[code]

**Command Run:**
[code]

Error logs:
[code]

It seems parse `E:\PHPSite\GitHub\boxsnake-php\simple-api-ssr\node_modules\cz-conventional-changelog` wrongly by `E:\e\PHPSite\GitHub\boxsnake-php\simple-api-ssr\node_modules\cz-conventional-changel

[2018-05-17 13:37] plroebuck commented on #481
[code]

Should change script name to 'cz' or something to avoid conflicts with `husky`.

[2018-05-17 13:44] plroebuck commented on #481
Since you're using Windows, suggest that you escape backslashes in your pathname.

[code]

[2018-05-17 13:52] plroebuck commented on #480
Sorry, missed #473 which requested same... Knew there had to be other people with same problem :)

[2018-05-17 13:56] LinusU commented on #480
Closing as duplicate of #473

PRs welcome 🚀

[2018-05-17 13:56] #480 closed

[2018-05-17 16:26] plroebuck commented on #473
@LinusU, seems it was fixed last year (PR #437). Why was it never published to NPM?

[2018-05-20 14:53] yinlinyang commented on #465
How to fix it ?

[2018-05-20 14:58] jimthedev commented on #465
Try deleting ~/.czrc then putting this in it:

[code]

[2018-05-20 14:58] yinlinyang commented on #465
The .czrc file  content is:  { "path": "cz-conventional-changelog" }. it is still throw error, why?

[2018-05-20 15:10] yinlinyang commented on #465
I fixed it . I delete .czrc file and create new one by VScode.
 .czrc file content:
`{ "path": "cz-conventional-changelog" }`

[2018-05-21 00:49] hxzhao527 commented on #465
The difference is the charset. `echo` in Powershell produce ``` .czrc``` with ```UTF-16```, but ```UTF-8``` is expected. So create ```.czrc``` manually with the same content works.

[2018-05-22 07:17] hxzhao527 commented on #465
@LinusU [load-json-file](https://www.npmjs.com/package/load-json-file) not works.
According to the source code , [index.js#L19](https://github.com/sindresorhus/load-json-file/blob/master/index.js#L19) ,
[code]
It reads content with ```UTF-8```charset instead of ```UTF-16```.
It will throw ```JSONError``` during ```parse```, but the error message is not clear.
[code]

[2018-05-23 19:24] lwouis opened #485 "Interactive --retry (prefill with previous attempt information)"
I have some git pre-commit hooks in my projects. If they fail after `git cz` is run, then I can either run `git cz` again, and fill everything again, or I can run it with `git cz --retry`, but in that case if the issue was with my commit message not being valid (against [commintlint](http://marionebl.github.io/commitlint/#/guides-use-prompt) for instance) it will just fail again.

It would be nice

[2018-05-24 02:37] jimthedev commented on #485
I think this is a greattttt idea. I'd love to have it as a feature. I think it would be a matter of us somehow telling the adapters what default values they should show the user when a commit is triggered. Then, when someone uses `--retry-filled` or something like that, the adapters would provide the original commits as defaults to inquirer.js which is what most of them use for prompts.

[2018-05-24 02:39] jimthedev commented on #485
With that said I have multiple ongoing projects and a 2 month old that is stopping me from implementing this but I would 100% merge PRs for this in this project. The cool thing is that we could put this functionality into the cli first and just find a way to pass this information to the adapters so that they can render the pre-filled prompts.

[2018-05-24 08:20] codepunkt opened #486 "Vulnerability (low severity) introduced by `find-node-modules`"
The `braces` npm module is vulnerable to [Regular Expression Denial of Service (ReDoS)](https://snyk.io/vuln/npm:braces:20180219).

The `braces` module is a dependency of `commitizen` via
- commitizen@2.9.6
  - find-node-modules@1.0.4
    - findup-sync@0.4.2
      - micromatch@2.3.11
        - braces@1.8.5

There is no new version of `findup-sync` or `find-node-modules` available that comes with a

[2018-05-24 14:28] jimthedev commented on #486
Thanks for bringing this up btw. Generally speaking I am not likely to move off a module but would rather put in the PRs to get it up to date. We rely on their functionality so we should contribute back through PRs. If there is a PR that isn't being merged for a long time that we need merged then we could have that conversation.

[2018-05-24 15:39] kentcdodds opened #491 "Take ownership of the commitizen-bot"
Hey folks!

So a while back, I made @commitizen-bot which has been used to automate releases of commitizen packages. It's email address is `kent+commitizen-bot@doddsfamily.us`, so I'm getting npm emails when its tokens are used to publish packages or when new personal access tokens are added to its account on GitHub.

I'd love to be able to hand off control to someone else. I'll go ahead and chang

[2018-05-24 17:21] jimthedev commented on #178
Thanks for the update and the work to get that into Inquirer @travi! Seems like it would be a good one for someone to pick up. I will leave this open as a todo.

[2018-05-24 20:56] jimthedev commented on #491
👋 @kentcdodds. I've changed the email and taken over the account. Thanks again!

[2018-05-24 20:56] #491 closed

[2018-05-24 21:06] kentcdodds commented on #491
Cool. I'll try to update the email for the npm account as well. I'm having some trouble ATM. You'll probably get an email when I get it to work. Thanks!

[2018-05-24 21:51] giocodes opened #502 "Update docs to use npx to install locally"
Hi! With the latest node and NPM version I believe that we can do:
`npx commitizen init cz-conventional-changelog --save-dev --save-exact`

I'll be happy to create a PR if this is something we want to update the docs.

[2018-05-24 21:59] jimthedev commented on #502
Yes!!! That’d be great. We need node 8 9 and 10 added to our Travis yaml too.

[2018-05-25 23:02] kentcdodds commented on #491
Just got confirmation that the email address was changed for the commitizen bot on npm :+1:

[2018-05-28 01:14] prometheas commented on #460
I must first say that it's very courteous indeed that commitizen at least looks for its configs under a top-level `config` key in `package.json`, rather than forcing us to jam another bespoke key name in that file like so many other packages do, but… definitely this, please!

[2018-05-29 04:03] SevenOutman opened #527 "Locally installation messed up with Yarn"
Hi team, first off thanks for creating this great tool!

I prefer a per-project installation of devDependencies so I'm also installing commitizen locally. The problem is I'm using Yarn as package manager, but when I run `./node_modules/.bin/commitizen init cz-conventional-changelog --save-dev --save-exact`, commitizen seemed to use `npm install` to install its packages, and `node_modules` just mes

[2018-05-29 05:05] jimthedev commented on #527
Good question. Not at the moment but a --yarn flag is a pretty good idea.

[2018-05-29 07:01] SevenOutman commented on #527
@jimthedev Cool. Looking forward to the update :)

[2018-06-04 21:06] Fetz opened #529 "Bithound is dead"
http://bithound.io/ is dead
![screen shot 2018-06-04 at 22 02 05](https://user-images.githubusercontent.com/1071113/40941505-f47ddc94-6842-11e8-8815-a05c7d7708fc.png)

IT didn't have the same luck as github :(

The bithound score in the readme should be removed and other places being used

[2018-06-11 18:33] mtliendo commented on #502
Is this still open to be picked up?

[2018-06-11 18:34] jimthedev commented on #502
Yeah i think it is open

[2018-06-12 02:18] giocodes commented on #502
Sorry, I intended to do this but I got lost on the Travis yaml comment. Is that also on the documentation?

[2018-06-12 09:33] LinusU commented on #502
That doesn't have to be the same PR, feel free to just address the updated documentation 👍

[2018-06-12 09:34] LinusU commented on #502
addressed the Travis thing here: https://github.com/commitizen/cz-cli/pull/531

[2018-06-13 01:42] jimthedev commented on #529
True true. Want to put in a PR?

[2018-06-15 00:07] giocodes commented on #502
Cool, I'll create a PR soon for the documentation changes. Thanks

[2018-06-18 03:12] #502 closed

[2018-07-05 03:48] hbetts opened #533 "Open Collective Objectives"
I recently came across the Open Collective project for `commitizen` - https://opencollective.com/commitizen

I was wondering what the objective of the project was (in terms of what y'alls goals were with fund raising, how it would be spent, etc.)?

[2018-07-09 16:34] sschmidTU commented on #10
**Workaround**
In my Git Bash keypresses are actually executed invisibly, they just don't cause a rendering refresh. So e.g. for a refactor, after git cz i press down arrow 4 times and hit enter, and it shows refactor as type of change.
Found this after a lot of research subtly hidden here, comment from March 3 2018.

[2018-07-17 03:52] mysterycommand opened #543 "git cz -a just differently broken now"
Hello there, thanks for this project. I've really enjoyed getting changelogs out of my commit messages. I think a recent change to `git cz -a` (to fix a perhaps over exuberant `git add .`) has unfortunately just broken things differently. It's late where I am, so I'll have to try and come up with an example repo tomorrow, but I'm currently running into an issue where I get the following output in

[2018-07-18 09:21] leotian commented on #543
same error in my computer
![image](https://user-images.githubusercontent.com/10192886/42872157-c1d5fc0c-8aae-11e8-86e2-8462fc5b7173.png)
it can be successful when I change the achievement version
![image](https://user-images.githubusercontent.com/10192886/42872224-ef6b719c-8aae-11e8-9232-4911ac3af09d.png)

[2018-07-18 13:03] mysterycommand commented on #543
Related to #376 and #471

[2018-07-19 01:55] phil-lgr opened #544 "Open Collective CLI Breaks Build on CI"
Anybody experiencing this: https://github.com/opencollective/opencollective-cli/issues/3 ?

[2018-07-19 16:41] mysterycommand commented on #543
Okay, here are some repro steps and a possible solution (though I don't know enough about how other people use Git to know if there are any ramifications to my approach):

### Repro:
[code]

I _think_ the problem is here [src/commitizen/staging.js#L9](https://github.com/commitizen/cz-cli/blob/master/src/commitizen/staging.js#L9) … `isClean` should not run `git diff` with the `--cached` flag. Here'

[2018-07-20 09:43] calledT opened #545 "not exit prompt after commit use nodejs 10 on windows10"
downgrade to nodejs 8 it work fine

[2018-07-23 14:27] goldbergyoni opened #546 "Om commit, Nano editor is getting open. No commitizen dialogs at all"
Hi, on Windows 10 + Linux subsystem for windows, I installed commitizen globally (+ also tried using npx git-cz), then when I commit using "git cz" the nano editor is getting opened. Even when I type a message in Nano and save no commitizen dialogs appear at all. When I use the vscode extension - it works fine. What do I miss?

[2018-07-24 01:29] iamstarkov opened #547 "uncatchable error in bootstrap when there are no staged files"
consider this

[code]

results in:
[code]

[2018-07-30 04:06] JaosnHsieh commented on #546
same here, I'm using Ubuntu 16.04 default terminal. It was working well on my Mac OS.

[2018-07-31 21:14] rdsedmundo opened #548 "Add a way of reuse a commit message"
I'd like to be able to reuse a commit message that was just created by the `commitizen` CLI. The use case: sharing the same message in two different repositories, without having to be prompted for all the questions again.

Since the commit is done under the hood, for instance, the autocompletion/autosuggestion from zsh can't handle it. Perhaps adding the commit to the .bash_history would work? Not

[2018-08-02 16:33] insuusvenerati commented on #546
I fixed this by installing an adapter. You can choose one from https://github.com/commitizen/cz-cli#adapters

[2018-08-02 20:11] nesl247 commented on #381
Using `fzf` or something to filter the types would be useful. Right now it is a pain to have to use the arrow keys when I am used to everything having filters. This is mostly due to the fact that I use fish-shell which has amazing autocomplete.

[2018-08-07 15:13] Oupsla commented on #544
Got the same error on CircleCi

Just add `DISABLE_OPENCOLLECTIVE=true` as environment variable

[2018-08-16 03:13] anurbol opened #550 "Is there a way to override standard `git commit`?"
Desired behavior:
1. install commitizen
2. run `git commit`
3. **see the same nice menu as when running `git cz`**

Current behavior:
1. install commitizen
2. run `git commit`
3. **NO nice menu as when running `git cz`, just default git interface**

I only interested in an answer, rather than actually requesting the feature.

[2018-08-16 08:38] LinusU commented on #550
Depends, are you okay with setting it up yourself? Or are you wondering wether it could work out of the box in any project?

I don't know if it's possible to check in some git settings file in a repo to override the commit command. But you can do it globally on your machine if you want to. I _think_ just setting `GIT_EDITOR=git-cz` should do it 🤔

[2018-08-16 10:16] anurbol commented on #550
Hi, @LinusU! "Or are you wondering wether it could work out of the box in any project?" - Yes I would like to know if it is possible.

Isn't GIT_EDITOR just for setting text editor to make commit message? Anyway, setting an env variable does not satisfy the above criteria.

[2018-08-16 10:47] LinusU commented on #550
I would think that this is impossible by design, because if it was possible you could trick git into running arbitrary command just by cloning a repository.

[2018-08-16 11:49] anurbol commented on #550
Yes, but Commitizen could inject pre-commit hook or something. I guess you are right, there is no such feature, hence I can start implementing it by myself. But I'd like to keep this issue open for another couple of days, in case if there is someone who knows this undocumented or hidden feature... Thanks, @LinusU!

[2018-08-17 19:27] anurbol commented on #550
I guess this issue is a duplicate of https://github.com/commitizen/cz-cli/issues/161, closing

[2018-08-17 19:27] #550 closed

[2018-08-19 11:21] jacobq opened #552 "Fix `new Buffer` deprecation warning by updating dependency"
Right now, it seems this project uses a very old version of `inquirer`. What would it take to [upgrade that](https://github.com/commitizen/cz-cli/pull/541)? The main reason I care is because this seems to be blocking resolution of an [annoying deprecation warning when using `yarn` with Node >= 10](https://github.com/yarnpkg/yarn/issues/5477) because it uses `commitizen#inquirer#external-editor#cha

[2018-08-20 11:27] LinusU commented on #552
We could probably go to 3.x without problem, unfortunately going beyond that would be a breaking change from our side.

That being said, us passing `inquirer` to the adapter is deprecated, so we could probably create a breaking change that removes it 🙌

[2018-08-20 11:48] karlhorky commented on #552
In case you want to go ahead with the upgrade after, I recently upgraded Inquirer.js from version 3 to 6 in `inquirer-autocomplete-prompt`. I tried to make the commits as granular as possible.

Maybe the pull request is good reference:

https://github.com/mokkabonna/inquirer-autocomplete-prompt/pull/64

[2018-08-20 11:51] LinusU commented on #552
Nice!

The problem we have here is that we simply pass `inquirer` to the adapter, and thus we cannot really migrate since that code is beyond our reach 🤔

[2018-08-20 12:14] jacobq commented on #552
Thanks for considering this; I've never used `inquirer` and am not even sure what "the adapter" is, so I don't think I should try to dive in and make a PR unless you're for sure never going to get around to this.
A quick "band-aid" may also be possible if you could upgrade transitive dependency `chardet` to v0.7.0 without changing anything else (e.g. https://yarnpkg.com/lang/en/docs/selective-vers

[2018-08-23 19:37] thedaviddias commented on #448
@micky2be Any news on creating a PR for that?

[2018-08-29 20:53] meszaros-lajos-gyorgy commented on #545
I also experience, that commitizen finishes, but never exits the task. I'm using commitizen v2.9.6, node v10.9.0 with npm v6.2.0 on windows 7. I'm using vscode's integrated terminal, which didn't have this issue prior to node update.

[2018-08-30 09:16] ulivz opened #556 "Install commitizen failed"
## Step to reproduce

1. Run:

[code]

2. Then I got an error:

[code]

Content of `/Users/ulivz/.npm/_logs/2018-08-30T09_14_23_846Z-debug.log` is as follows:

[code]

[2018-08-30 19:54] creatyvtype opened #557 "Monorepo precommit hook says "Not a git repository: '.git'""
I have a monorepo using Lerna. Here's the structure for my example:

[code]

In `my-monorepo/packages/my-package/package.json`, I have a script:  `"precommit": "yarn buildExports && git add ./exports"`.
In `my-monorepo/package.json` I have a script: `"precommit": "lerna run precommit"`.

When I run `yarn precommit` inside my package, it works correctly.
When I run `yarn precommit` in the root of m

[2018-08-30 20:03] creatyvtype commented on #557
I was able to get it working by having my commit script run `lerna run precommit && git-cz`. Something about having it be a part of the precommit hook produced this error.

[2018-08-31 14:20] MartinMuzatko opened #558 "git cz just opens the local editor"
git cz is broken for me.

I wanted to get started but it does not work.

I'm using Windows WSL (ubuntu shell on windows) together with zsh.

This is my gitconfig:

[code]

Even with my gitconfig removed, I get the following:

![cz](https://user-images.githubusercontent.com/2950505/44917736-84598300-ad39-11e8-990c-d13abf2a846b.gif)

Is there a known bug?

[2018-08-31 14:25] MartinMuzatko opened #559 "Git bash on windows: cannot read property 'get' of undefined"
Currently I get this error when running git-cz on a windows system:
[code]

[2018-08-31 14:33] MartinMuzatko commented on #559
the problem is that the path is cut off at the space. the path should be "Martin Muzatko" instead

[2018-08-31 14:50] gabrieleantonini opened #560 "postinstall script fails on CI"
On my CI server (Jenkins). postinstall script fails trying to execute:
`opencollective postinstall` command.

This is the error
[code]

I've tried to add 'node_modules/opencollective/dist/bin' dir to the PATH but with no luck.
Any ideas?

[2018-09-02 21:32] LinusU commented on #560
Personally not a fan of the `"postinstall": "opencollective ..."` script for a number of reasons, mostly because it adds [11.6 MB](https://packagephobia.now.sh/result?p=opencollective) of things to install just to print a message.

Maybe we could replace it with a simple `echo` statement? 🤔

[2018-09-02 22:25] jimthedev commented on #560
I’m ok with us removing it completely if it is annoying people.
--
Jim ForCy

On September 2, 2018 at 4:32:58 PM, Linus Unnebäck (notifications@github.com)
wrote:

[2018-09-03 06:34] gabrieleantonini commented on #560
I agree with @LinusU.
Adding a package just for printing a (fancy) message doen't really add much value to the project. I'd 👍 the idea of replacing `opencollective` package with a print message.

[2018-09-03 08:28] gabrieleantonini commented on #560
As side note, I've figured out how to solve the initial problem on Jenkins.
Basically, on my CI pipeline commitizen doesn't get installed globally so I have to manually specify the path to the `opencollective` bin.
This can be achieved adding the following:
`:${env.WORKSPACE}/node_modules/.bin`
to the `PATH` configuration in `Jenkinsfile` file.

[2018-09-03 09:03] LinusU commented on #560
Seems like this have been brought up before as well 🤔 #544

At this point, it might be best to remove it for now?

It's still strange that you have to mess with the `PATH` though 🤔 `npm` should fix that automatically when running scripts...

[2018-09-03 09:13] gabrieleantonini commented on #560
@LinusU looking at the filesystem, under node_modules/.bin I can find a symlink `opencollective -> ../opencollective/dist/bin/opencollective.js`.

I suspect that in a "standard npm setup" `node_modules/.bin` is added to the path by default, on my CI box I believe there are some restrictions due to the fact that a docker container is created/destroyed for each build so I need to explicitely add `no

[2018-09-07 14:27] calledT commented on #545
now I update nodejs to 10.9.0 and npm to 6.4.1, and it work fine eventually

[2018-09-07 14:27] #545 closed

[2018-09-08 14:37] meszaros-lajos-gyorgy commented on #545
I've updated node to v10.10.0, npm to v6.4.1 and I still get this issue. Updating didn't solve anything for me, plus I would like to know what causes the issue in the first place.

[2018-09-09 10:58] meszaros-lajos-gyorgy commented on #545
tried it in windows 7 command line and it's the same

[2018-09-09 11:31] meszaros-lajos-gyorgy opened #563 "git-cz doesn't finish, doesn't return the prompt"
Hi!

Since one of the recent updates (sadly I don't know which one exactly) when I run git-cz, the commit is created as expected, pre-commit hook also runs - if there is any -, but commitizen never exits after it's done. I also tried `git-cz --retry` and it works fine, there is no issue there.

There was a ticket addressing the same issue, but it's creator claims, that he solved the issue by updat

[2018-09-09 11:44] meszaros-lajos-gyorgy commented on #479
Commitizen's own initialization script should install the cz-conventional-changelog in your repo:
`commitizen init cz-conventional-changelog --save-dev --save-exact`

[2018-09-09 17:35] meszaros-lajos-gyorgy commented on #563
Since `git-cz --retry` doesn't display options and it works fine, I have a hunch, that the real culprit might be the [Inquirer](https://github.com/SBoudrias/Inquirer.js) package.

[2018-09-09 17:37] meszaros-lajos-gyorgy commented on #563
Possible related tickets on Inquirer side: https://github.com/SBoudrias/Inquirer.js/issues/667

[2018-09-09 17:49] meszaros-lajos-gyorgy commented on #563
I've just realized, that commitizen uses version `1.2.3` Inquirer, while the latest version is `6.2.0`. `1.2.3` was released on Nov 13, 2016. Might worth trying updating it.

[2018-09-10 16:02] ddymko commented on #544
I am running into this issue as well on concourse even with setting `DISABLE_OPENCOLLECTIVE=true`

Any ideas as to why this is happening?

[2018-09-11 12:12] EricLambrecht opened #564 "Error in Readme: npx git-cz installs wrong package"
In the Readme it says

This will install [this](https://github.com/streamich/git-cz) package though (streamich/git-cz).
Is this intended? The package doesn't seem related to the official *commitizen* team.

**Note:** Commitizen will still work, but it will use the *streamich/git-cz* emoji adapter.

[2018-09-12 16:58] anowlcalledjosh opened #565 "Code on website is not displayed in monospace font"
This line:

https://github.com/commitizen/cz-cli/blob/ebf33ecf27e5aca9cbfdbcc2c52aa479ee3c34ad/stylesheets/stylesheet.css#L170

needs to have `monospace` appended to it, otherwise on systems without any of those fonts installed (e.g. Ubuntu) you get a result that looks like this:

![image](https://user-images.githubusercontent.com/9433472/45440821-42bfc500-b6b5-11e8-9bd0-63bce0297ff4.png)

[2018-09-14 10:55] meszaros-lajos-gyorgy commented on #563
On mac it works fine.

[2018-09-15 22:31] meszaros-lajos-gyorgy commented on #563
Now the battery on my windows laptop is about to die on low charge and commitizen finished without any issue whatsoever. Is there a race condition somewhere in the code that causes this behavior?

[2018-09-16 11:11] meszaros-lajos-gyorgy commented on #563
The power is back on and commitizen doesn't halt again.

[2018-09-16 11:14] meszaros-lajos-gyorgy commented on #563
And now with a shorter commit, it finished correctly...

[2018-09-18 14:28] #544 closed

[2018-09-18 14:28] #560 closed

[2018-09-18 14:30] #527 closed

[2018-09-18 14:32] jimthedev commented on #564
Yeah, you are correct. Looks like we will need to figure out how to work with npx since our repo, package and binary names are all different 🤕

[2018-09-18 14:33] jimthedev commented on #565
Good catch. Want to throw a PR at it?

[2018-09-18 14:36] jimthedev commented on #558
I suspect you might not have an adapter configured in your repo and thus git-cz is operating as if there is no package. This means that you should either pass it -m "My commit message" in order to avoid having your editor open or set a global adapter on your system. Just a guess.

[2018-09-18 16:51] hutber opened #567 "precommit's ignored when using git cz"
As far as I can see all precommits are ignored when using cz.
I have setup using husky and using lint-staged.

If you run `git commit` you will see the hooks run, but if you run `git cz` it will only run the `lint-staged`  once you have finished with the promoter.

I have setup a repo which reproduced the error:
https://github.com/hutber/cztest

[2018-09-28 15:36] qkdreyer opened #569 "Release v2.11.0"
Are you guys planning to release a new version soon ?
I'd like to get the dependencies update commits.

https://github.com/commitizen/cz-cli/compare/v2.10.1...master

[2018-09-28 15:39] jimthedev commented on #569
We are working through it on the modernize-part-deux branch. We had
everything updated in modernize branch but it had some windows regressions.
In the future we will catch these sooner using MS dev ops instead of
appveyor.

--
Jim ForCy

On September 28, 2018 at 10:36:26 AM, Quentin Dreyer (
notifications@github.com) wrote:

[2018-09-28 20:34] motin commented on #45
Using SourceTree, it is possible to add a custom action that launches `git cz` in the current repository's directory in a new terminal window. The custom action can be assigned a keyboard shortcut. This is as close of a GUI integration that is possible at the moment it seems. :)
Code here for anyone interested: https://gist.github.com/motin/5896c5b04d039aac48e6a2985d12171b

[2018-10-01 10:57] thierrymichel commented on #543
@mysterycommand not sure if your suggestion will work with "manually added files", like with `git add some-file`…
I've you tried?

[2018-10-01 13:44] mysterycommand commented on #543
Hey @thierrymichel, ugh! you're right … doing something like this demonstrates that my solution doesn't work when the commit would contain _only_ new files:

[code]

😭

As for your PR, I'd be kind of hesitant to add that `commitAll` arg for I think 2 reasons:

1. I need to understand `--cached` better I think … what does it mean really, how was it intended, etc.
2. I have a slight feeling that it'

[2018-10-01 14:54] jimthedev commented on #569
FYI 3.0.0 has been released but please be aware that commitizen init seems to be having some issues resolving paths.

[2018-10-01 14:54] #569 closed

[2018-10-01 15:01] jimthedev opened #572 "Global commitizen init has issues in 3.0.0"
Commitizen installed globally seems to have issues in 3.0.0. It claims that an existing adapter is installed even if it is not.